@media screen and (max-width:350px) and (min-width:300px) {
			  /* reglas CSS */
			  #logo{
			  	width: 130px;
			  }
			  #cabecera{
			  	height: 70px;
			  }
			  #botonMenu{
			  	font-size: 20px;
			  	padding-right: 40px;
			  	padding-top: 7px;
			  }
			  #sliderIndex{
			  	width: 100%;
			  	height: 600px;
			  }

			  #contenedores{
			  	padding-left: 40px;
			  }

			  #pruebaNose{
			  	width: 100%;
			  	padding-top: 30px;
			  }
			  #pruebaNose2{
			  	width: 100%;
			  	padding-top: 30px;
			  }

			  #contenidoValores{
			  	width: 80%;
			  	margin-left: 10%;
			  }	

			  #valor1 ,#valor2, #valor3 ,#valor4{
			  	width: 100%;
			  	margin-top: 10%;
			  }

			  #contenidoValores h6 {
			  	font-size: 15px;
			  }

			  #contenidoValores img {
			  	width: 60%;
			  }

			  .contenedorSlider{
			  	width: 100%;
			  }

			  .contenidoIzquierdo{
			  	width: 100%;
			  }

			  .contenidoDerecho{
			  	width: 100%;
			  }

			  .imagenTexto{
			  	margin-top: 30px;
			  	height: 50%;
			  	width: 80%;
			  	margin-left: 10%; 
			  	padding-bottom: 50px;
			  }

			  .botonSlider{
			  	margin-left: 17%; 
			  	font-size: 20px;
			  	background-color: #FFF;
			  	padding: 15px;
			  	border-radius: 10px;
			  }

			  .botonSlider:hover{
			  	cursor: pointer;
			  }

			  .googlePlay{
			  	margin-top: 15px;
			  	margin-left: 25%;
			  	width: 150px;
			  }

			  .imagenMano{
			  	margin-left: 42%;
			  	width: 60%;
			  	position:absolute;
			  	bottom: 0px;
			  }

			  #imagenCalculadora{
			  	width: 80%;
			  	margin-left: 10%;
			  }

			  #contenidoCalculadora{
			  	margin-top: 25px;
			  }

			  .botonContenidoCalculadora{
			  	width: 100%;
			  }

			  .botonContenidoCalculadora h2{
			  	font-size: 22px;
			  }

			  #botonGoogleFinal{
			  	width: 50%;
			  }
}

@media screen and (max-width:400px) and (min-width:351px) {
			  /* reglas CSS */
			  #logo{
			  	width: 130px;
			  }
			  #cabecera{
			  	height: 70px;
			  }
			  #botonMenu{
			  	font-size: 20px;
			  	padding-right: 40px;
			  	padding-top: 7px;
			  }
			  #sliderIndex{
			  	width: 100%;
			  	height: 600px;
			  }

			  #contenedores{
			  	padding-left: 40px;
			  }

			  #pruebaNose{
			  	width: 100%;
			  	padding-top: 30px;
			  }
			  #pruebaNose2{
			  	width: 100%;
			  	padding-top: 30px;
			  }

			  #contenidoValores{
			  	width: 100%;
			  	margin-left: 13px;
			  }	

			  #contenidoValores{
			  	width: 80%;
			  	margin-left: 10%;
			  }	

			  #valor1, #valor2, #valor3, #valor4{
			  	margin-top: 20px;
			  }

			  #contenidoValores img {
			  	width: 50%;
			  }

			  .contenidoIzquierdo{
			  	width: 100%;
			  }

			  .contenidoDerecho{
			  	width: 100%;
			  }

			  .imagenTexto{
			  	margin-top: 30px;
			  	width: 80%;
			  	margin-left: 10%; 
			  	padding-bottom: 50px;
			  }

			  .botonSlider{
			  	margin-left: 25%; 
			  	font-size: 20px;
			  	background-color: #FFF;
			  	padding: 15px;
			  	border-radius: 10px;
			  }

			  .botonSlider:hover{
			  	cursor: pointer;
			  	border-radius: 10px;
			  }

			  .googlePlay{
			  	margin-top: 15px;
			  	margin-left: 25%;
			  	width: 200px;
			  }

			  .imagenMano{
			  	margin-left: 55%;
			  	width: 47%;
			  	position:absolute;
			  	bottom: 0px;
			  }

			  #imagenCalculadora{
			  	width: 80%;
			  	margin-left: 10%;
			  }

			  #contenidoCalculadora{
			  	margin-top: 25px;
			  	font-size: 18px;
			  }

			  .botonContenidoCalculadora{
			  	width: 100%;
			  }

			  .botonContenidoCalculadora h2{
			  	font-size: 22px;
			  }

			  #botonGoogleFinal{
			  	width: 50%;
			  }
}

@media screen and (max-width:450px) and (min-width:401px) {
			  /* reglas CSS */
			  #logo{
			  	width: 130px;
			  }
			  #cabecera{
			  	height: 70px;
			  }
			  #botonMenu{
			  	font-size: 20px;
			  	padding-right: 40px;
			  	padding-top: 7px;
			  }
			  #sliderIndex{
			  	width: 100%;
			  	height: 600px;
			  }
			  #contenedores{
			  	padding-left: 40px;
			  }

			  #pruebaNose{
			  	width: 100%;
			  	padding-top: 30px;
			  }
			  #pruebaNose2{
			  	width: 100%;
			  	padding-top: 30px;
			  }

			  #contenidoValores{
			  	width: 80%;
			  	margin-left: 13%;
			  }	

			  #valor1, #valor2, #valor3, #valor4{
			  	margin-top: 20px;
			  }

			  #contenidoValores h6 {
			  	font-size: 15px;
			  }

			  #contenidoValores img {
			  	width: 60%;
			  }
			  .contenidoIzquierdo{
			  	width: 100%;
			  }

			  .contenidoDerecho{
			  	width: 100%;
			  }

			  .imagenTexto{
			  	margin-top: 30px;
			  	width: 70%;
			  	margin-left: 15%; 
			  	padding-bottom: 50px;
			  }

			  .botonSlider{
			  	font-size: 20px;
			  	background-color: #FFF;
			  	padding: 15px;
			  	border-radius: 10px;
				margin-left: 26%;
			  }

			  .botonSlider:hover{
			  	cursor: pointer;
			  }

			  .googlePlay{
			  	margin-top: 15px;
			  	margin-left: 33%;
			  	width: 150px;
			  }

			  .imagenMano{
			  	margin-left: 42%;
			  	width: 50%;
			  	position:absolute;
			  	bottom: 0px;
			  	right: 0px;
			  }

			  #imagenCalculadora{
			  	width: 80%;
			  	margin-left: 3%;
			  }

			  #contenidoCalculadora{
			  	margin-top: 25px;
			  }

			  .botonContenidoCalculadora{
			  	width: 100%;
			  }

			  .botonContenidoCalculadora h2{
			  	font-size: 22px;
			  }

			  #botonGoogleFinal{
			  	width: 50%;
			  }
}

@media screen and (max-width:500px) and (min-width:451px) {
			  /* reglas CSS */
			  #logo{
			  	width: 130px;
			  }
			  #cabecera{
			  	height: 70px;
			  }
			  #botonMenu{
			  	font-size: 20px;
			  	padding-right: 40px;
			  	padding-top: 7px;
			  }
			  #sliderIndex{
			  	width: 100%;
			  	height: 700px;
			  }

			  #contenedores{
			  	padding-left: 40px;
			  }
			  #pruebaNose{
			  	width: 100%;
			  	padding-top: 30px;
			  }
			  #pruebaNose2{
			  	width: 100%;
			  	padding-top: 30px;
			  }
			  #contenidoValores{
			  	width: 80%;
			  	margin-left: 13%;
			  }	

			  #valor1, #valor2, #valor3, #valor4{
			  	margin-top: 20px;
			  }

			  #contenidoValores h6 {
			  	font-size: 17px;
			  }

			  #contenidoValores img {
			  	width: 60%;
			  }

			  .contenidoIzquierdo{
			  	width: 100%;
			  }

			  .contenidoDerecho{
			  	width: 100%;
			  }

			  .imagenTexto{
			  	margin-top: 30px;
			  	width: 70%;
			  	margin-left: 15%; 
			  	padding-bottom: 50px;
			  }

			  .botonSlider{
			  	font-size: 20px;
			  	background-color: #FFF;
			  	padding: 15px;
			  	border-radius: 10px;
				margin-left: 29%;
			  }

			  .botonSlider:hover{
			  	cursor: pointer;
			  }

			  .googlePlay{
			  	margin-top: 15px;
			  	margin-left: 35%;
			  	width: 150px;
			  }

			  .imagenMano{
			  	margin-left: 42%;
			  	width: 45%;
			  	position:absolute;
			  	bottom: 0px;
			  	right: 0px;
			  }

			  #imagenCalculadora{
			  	width: 60%;
			  	margin-left: 20%;
			  }

			  #contenidoCalculadora{
			  	margin-top: 40px;
			  }

			  .botonContenidoCalculadora{
			  	width: 100%;
			  }

			  .botonContenidoCalculadora h2{
			  	font-size: 22px;
			  }

			  #botonGoogleFinal{
			  	width: 40%;
			  }
}

@media screen and (max-width:550px) and (min-width:501px) {
			  /* reglas CSS */
			  #logo{
			  	width: 130px;
			  }
			  #cabecera{
			  	height: 70px;
			  }
			  #botonMenu{
			  	font-size: 20px;
			  	padding-right: 40px;
			  	padding-top: 7px;
			  }
			  #sliderIndex{
			  	width: 100%;
			  	height: 600px;
			  }

			  #contenedores{
			  	padding-left: 40px;
			  }
			  #pruebaNose{
			  	width: 100%;
			  	padding-top: 30px;
			  }
			  #pruebaNose2{
			  	width: 100%;
			  	padding-top: 30px;
			  }
			  #contenidoValores{
			  	width: 80%;
			  	margin-left: 13%;
			  }	

			  #valor1, #valor2, #valor3, #valor4{
			  	margin-top: 10px;
			  }

			  #contenidoValores h6 {
			  	font-size: 15px;
			  }

			  #contenidoValores img {
			  	width: 60%;
			  }

			  .contenidoIzquierdo{
			  	width: 100%;
			  }

			  .contenidoDerecho{
			  	width: 100%;
			  }

			  .imagenTexto{
			  	margin-top: 30px;
			  	width: 70%;
			  	margin-left: 15%; 
			  	padding-bottom: 50px;
			  }

			  .botonSlider{
			  	font-size: 20px;
			  	background-color: #FFF;
			  	padding: 15px;
			  	border-radius: 10px;
				margin-left: 29%;
			  }

			  .botonSlider:hover{
			  	cursor: pointer;
			  }

			  .googlePlay{
			  	margin-top: 15px;
			  	margin-left: 35%;
			  	width: 150px;
			  }

			  .imagenMano{
			  	margin-left: 42%;
			  	width: 45%;
			  	position:absolute;
			  	bottom: 0px;
			  	right: 0px;
			  }

			  #imagenCalculadora{
			  	width: 60%;
			  	margin-left: 20%;
			  }

			  #contenidoCalculadora{
			  	margin-top: 40px;
			  }

			  .botonContenidoCalculadora{
			  	width: 100%;
			  }

			  .botonContenidoCalculadora h2{
			  	font-size: 22px;
			  }

			  #botonGoogleFinal{
			  	width: 40%;
			  }
}

@media screen and (max-width:640px) and (min-width:551px) {
			  /* reglas CSS */
			  #logo{
			  	width: 130px;
			  }
			  #cabecera{
			  	height: 70px;
			  }
			  #botonMenu{
			  	font-size: 20px;
			  	padding-right: 40px;
			  	padding-top: 7px;
			  }
			  #sliderIndex{
			  	width: 100%;
			  	height: 600px;
			  }
			  #sliderIndex img{
			  	width: auto
			  	height: auto;
			  }

			  #contenedores{
			  	padding-left: 40px;
			  }

			  #pruebaNose{
			  	width: 100%;
			  	padding-top: 30px;
			  }
			  #pruebaNose2{
			  	width: 100%;
			  	padding-top: 30px;
			  }

			  #contenidoValores{
			  	width: 100%;
			  	margin-left: 3%;
			  }	

			  #valor1, #valor2, #valor3, #valor4{
			  	width: 45%;
			  	float: left;
			  	height: 320px;
			  	margin-top: 20px;
			  }

			  #contenidoValores h6 {
			  	font-size: 15px;
			  }

			  #contenidoValores img {
			  	width: 60%;
			  }

			  .contenidoIzquierdo{
			  	width: 100%;
			  }

			  .contenidoDerecho{
			  	width: 100%;
			  }

			  .imagenTexto{
			  	margin-top: 30px;
			  	width: 70%;
			  	margin-left: 15%; 
			  	padding-bottom: 50px;
			  }

			  .botonSlider{
			  	font-size: 20px;
			  	background-color: #FFF;
			  	padding: 15px;
			  	border-radius: 10px;
				margin-left: 29%;
			  }

			  .botonSlider:hover{
			  	cursor: pointer;
			  }

			  .googlePlay{
			  	margin-top: 15px;
			  	margin-left: 34%;
			  	width: 150px;
			  }

			  .imagenMano{
			  	margin-left: 42%;
			  	width: 45%;
			  	position:absolute;
			  	bottom: 0px;
			  	right: 0px;
			  }

			  #imagenCalculadora{
			  	width: 55%;
			  	margin-left: 22.5%;
			  }

			  #contenidoCalculadora{
			  	margin-top: 40px;
			  }

			  .botonContenidoCalculadora{
			  	width: 100%;
			  }

			  .botonContenidoCalculadora h2{
			  	font-size: 22px;
			  }

			  #botonGoogleFinal{
			  	width: 35%;
			  }
}

@media screen and (max-width:700px) and (min-width:641px) {
			  /* reglas CSS */
				 #logo{
				  	width: 130px;
				  }
				  #cabecera{
				  	height: 70px;
				  }
				  #botonMenu{
				  	font-size: 20px;
				  	padding-right: 40px;
				  	padding-top: 7px;
				  }
				  #sliderIndex{
				  	width: 100%;
				  	height: 650px;
				  }
				  #sliderIndex img{
			  		width: auto;
			  		height: auto;
				  }
				  #contenedores{
				  	padding-left: 40px;
				  }
				  #pruebaNose{
				  	width: 100%;
				  	padding-top: 30px;
				  }
				  #pruebaNose2{
				  	width: 100%;
				  	padding-top: 30px;
				  }
				  #contenidoValores{
				  	width: 100%;
				  	margin-left: 3%;
				  }	

				  #valor1, #valor2, #valor3, #valor4{
				  	width: 45%;
				  	float: left;
				  	height: 330px;
				  	margin-top: 20px;
				  }

				  #contenidoValores h6 {
				  	font-size: 15px;
				  }

				  #contenidoValores img {
				  	width: 60%;
				  }

				  .contenidoIzquierdo{
				  	width: 100%;
				  }

				  .contenidoDerecho{
				  	width: 100%;
				  }

				  .imagenTexto{
				  	margin-top: 30px;
				  	width: 65%;
				  	margin-left: 15%; 
				  	padding-bottom: 50px;
				  }

				  .botonSlider{
				  	font-size: 25px;
				  	background-color: #FFF;
				  	padding: 15px;
				  	border-radius: 10px;
					margin-left: 20%;
				  }

				  .botonSlider:hover{
				  	cursor: pointer;
				  }

				  .googlePlay{
				  	margin-top: 15px;
				  	margin-left: 23.5%;
				  	width: 200px;
				  }

				  .imagenMano{
				  	width: 45%;
				  	position:absolute;
				  	bottom: 0px;
				  	right: 0px;
				  }

				  #imagenCalculadora{
				  	width: 50%;
				  	margin-left: 25%;
				  }

				  #contenidoCalculadora{
				  	margin-top: 40px;
				  }

				  .botonContenidoCalculadora{
				  	width: 100%;
				  }

				  .botonContenidoCalculadora h2{
				  	font-size: 22px;
				  }

				  #botonGoogleFinal{
				  	width: 40%;
				  }
}

@media screen and (max-width:750px) and (min-width:701px) {
			  /* reglas CSS */
				 #logo{
				  	width: 130px;
				  }
				  #cabecera{
				  	height: 70px;
				  }
				  #botonMenu{
				  	font-size: 20px;
				  	padding-right: 40px;
				  	padding-top: 7px;
				  }
				  #sliderIndex{
				  	width: 100%;
				  	height: 650px;
				  }
				  #sliderIndex img{
			  		width: auto;
			  		height: auto;
				  }
				  #contenedores{
				  	padding-left: 40px;
				  }
				  #pruebaNose{
				  	width: 100%;
				  	padding-top: 30px;
				  }
				  #pruebaNose2{
				  	width: 100%;
				  	padding-top: 30px;
				  }

				  #contenidoValores{
				  	width: 100%;
				  	margin-left: 2.5%;
				  }	

				  #valor1, #valor2, #valor3, #valor4{
				  	width: 45%;
				  	float: left;
				  	height: 330px;
				  	margin-top: 20px;
				  }

				  #contenidoValores h6 {
				  	font-size: 15px;
				  }

				  #contenidoValores img {
				  	width: 60%;
				  }

				  .contenidoIzquierdo{
				  	width: 100%;
				  }

				  .contenidoDerecho{
				  	width: 100%;
				  }

				  .imagenTexto{
				  	margin-top: 30px;
				  	width: 65%;
				  	margin-left: 15%; 
				  	padding-bottom: 50px;
				  }

				  .botonSlider{
				  	font-size: 25px;
				  	background-color: #FFF;
				  	padding: 15px;
				  	border-radius: 10px;
					margin-left: 20%;
				  }

				  .botonSlider:hover{
				  	cursor: pointer;
				  }

				  .googlePlay{
				  	margin-top: 15px;
				  	margin-left: 23.5%;
				  	width: 200px;
				  }

				  .imagenMano{
				  	width: 45%;
				  	position:absolute;
				  	bottom: 0px;
				  	right: 0px;
				  }

				  #imagenCalculadora{
				  	width: 40%;
				  	margin-left: 30%;
				  }

				  #contenidoCalculadora{
				  	margin-top: 40px;
				  	font-size: 25px;
				  }

				  .botonContenidoCalculadora h2{
				  	font-size: 27px;
				  	padding: 10px 0;
				  }

				  #botonGoogleFinal{
				  	width: 40%;
				  }
}

@media screen and (max-width:800px) and (min-width:751px) {
			  /* reglas CSS */
			  #logo{
			  	width: 150px;
			  }
			  #cabecera{
			  	height: 70px;
			  }

			  #noseWe2{
			  	visibility: none;
			  	display: none;
			  }
			  #botonMenu{
			  	font-size: 20px;
			  	padding-right: 40px;
			  	padding-top: 7px;
			  }

			  #sliderIndex{
			  	width: 100%;
			  	height: 600px;
			  }
			  #sliderIndex img{
			  	width: auto
			  	height: auto;
			  }
			  #contenedores{
				  	padding-left: 40px;
				  }
			  #pruebaNose{
			  	width: 100%;
			  	padding-top: 30px;
			  }
			  #pruebaNose2{
			  	width: 100%;
			  	padding-top: 30px;
			  }

			  #contenidoValores{
			  	width: 100%;
			  	margin-left: 3%;
			  }	

			  #valor1, #valor2, #valor3, #valor4{
			  	width: 45%;
			  	float: left;
			  	height: 330px;
			  	margin-top: 20px;
			  }

			  #valor3, #valor4{
			  	margin-top: 30px;
			  }

			  #contenidoValores h6 {
			  	font-size: 15px;
			  }

			  #contenidoValores img {
			  	width: 60%;
			  }

			  .contenidoIzquierdo{
			  	width: 100%;
			  }

			  .contenidoDerecho{
			  	width: 100%;
			  }

			  .imagenTexto{
			  	margin-top: 30px;
			  	width: 65%;
			  	margin-left: 15%; 
			  	padding-bottom: 50px;
			  }

			  .botonSlider{
			  	font-size: 25px;
			  	background-color: #FFF;
			  	padding: 15px;
			  	border-radius: 10px;
				margin-left: 20%;
			  }

			  .botonSlider:hover{
			  	cursor: pointer;
			  }

			  .googlePlay{
			  	margin-top: 15px;
			  	margin-left: 23.5%;
			  	width: 200px;
			  }

			  .imagenMano{
			  	width: 45%;
			  	position:absolute;
			  	bottom: 0px;
			  	right: 0px;
			  }

			  #imagenCalculadora{
			  	width: 40%;
			  	margin-left: 30%;
			  }

			  #contenidoCalculadora{
			  	margin-top: 40px;
			  	font-size: 25px;
			  }

			  .botonContenidoCalculadora h2{
			  	font-size: 27px;
			  	padding: 10px 0;
			  }

			  #botonGoogleFinal{
			  	width: 30%;
			  }
}

@media screen and (max-width:990px) and (min-width:801px) {
			  /* reglas CSS */
			  #logo{
			  	width: 150px;
			  	text-align: left;
			  }
			  #cabecera{
			  	height: 70px;
			  }

			  #noseWe2{
			  	visibility: none;
			  	display: none;
			  }
			  #botonMenu{
			  	font-size: 20px;
			  	padding-right: 40px;
			  	padding-top: 7px;
			  }
			  #sliderIndex{
			  	width: 100%;
			  	height: 600px;
			  }
			  #contenedores{
				padding-left: 40px;
			  }
			  #pruebaNose{
			  	width: 100%;
			  	padding-top: 30px;
			  }
			  #pruebaNose2{
			  	width: 100%;
			  	padding-top: 30px;
			  }	
			  #contenidoValores{
			  	width: 100%;
			  	margin-left: 3.7%;
			  }	

			  #valor1, #valor2, #valor3, #valor4{
			  	width: 21%;
			  	float: left;
			  	height: 300px;
			  	margin-top: 20px;
			  }

			  #contenidoValores h6 {
			  	font-size: 12px;
			  }

			  #contenidoValores img {
			  	width: 60%;
			  }

			  .contenidoIzquierdo{
			  	width: 100%;
			  }

			  .contenidoDerecho{
			  	width: 100%;
			  }

			  .imagenTexto{
			  	margin-top: 30px;
			  	width: 50%;
			  	margin-left: 10%; 
			  	padding-bottom: 50px;
			  }

			  .botonSlider{
			  	font-size: 25px;
			  	background-color: #FFF;
			  	padding: 15px;
			  	border-radius: 10px;
				margin-left: 15%;
			  }

			  .botonSlider:hover{
			  	cursor: pointer;
			  }

			  .googlePlay{
			  	margin-top: 15px;
			  	margin-left: 17%;
			  	width: 200px;
			  }

			  .imagenMano{
			  	width: 50%;
			  	position:absolute;
			  	bottom: 0px;
			  	right: 0px;
			  }

			  #imagenCalculadora{
			  	width: 60%;
			  	margin-left: 20%;
			  	padding: 2%;
			  }

			  #contenidoCalculadora{
			  	margin-top: 5%;
			  }

			  #botonGoogleFinal{
			  	width: 30%;
			  }

}

@media screen and (min-width:991px) {
			  /* reglas CSS */
			  #logo{
			  	width: 120px;
			  	padding-right: 10px;
			  	padding-bottom: 30px;
			  }
			  #botonMenu{
			  	visibility: none;
			  	display: none;
			  }

			  #noseWe{
			  	padding-top: 10px;
			  	padding-left: 100px;
			  }
			  #contenedores{
			  	padding-left: 200px;
			  }

			  #contenidoCalculadora{
			  	padding-top: 80px;	
			  }
			  #pruebaNose{
			  	width: 100%;
			  	padding-top: 30px;
			  }	

			  #pruebaNose2{
			  	width: 100%;
			  	padding-top: 30px;
			  }	
			  #contenidoValores{
			  	width: 100%;
			  	margin-left: 6%;
			  }	

			  #valor1, #valor2, #valor3, #valor4{
			  	width: 20%;
			  	float: left;
			  	height: 310px;
			  	margin-top: 20px;
			  }

			  #contenidoValores h6 {
			  	font-size: 14px;
			  }

			  #contenidoValores img {
			  	width: 60%;
			  }

			  .contenidoIzquierdo{
			  	width: 50%;
			  }

			  .contenidoDerecho{
			  	width: 50%;
			  	float: left;
			  }

			  .imagenTexto{
			  	margin-top: 50px;
			  	width: 60%;
			  	margin-left: 20%; 
			  	padding-bottom: 50px;
			  }

			  .botonSlider{
			  	font-size: 25px;
			  	background-color: #FFF;
			  	padding: 15px;
			  	border-radius: 10px;
				margin-left: 30%;
			  }

			  .botonSlider:hover{
			  	cursor: pointer;
			  }

			  .googlePlay{
			  	margin-top: 15px;
			  	margin-left: 34%;
			  	width: 200px;
			  }

			  .imagenMano{
			  	width: 32%;
			  	position:absolute;
			  	bottom: 0px;
			  	right: 0px;
			  }

			  #imagenCalculadora{
			  	width: 50%;
			  	margin-left: 25%;
			  	padding: 5%;
			  }

			  #contenidoCalculadora{
			  	margin-top: 2%;
			  }

			  #botonGoogleFinal{
			  	width: 20%;
			  }
}