@media screen and (max-width:400px) and (min-width:300px) {
			  /* reglas CSS */
			  #logo{
			  	width: 130px;
			  }
			  #cabecera{
			  	height: 70px;
			  }
			  #botonMenu{
			  	font-size: 20px;
			  	padding-right: 40px;
			  	padding-top: 7px;
			  }
			  #sliderIndex{
			  	width: 100%;
			  	height: 500px;
			  }
			  #sliderIndex img{
			  	width: 100%;
			  	height: 500px;
			  }

			  #contenedores{
			  	padding-left: 40px;
			  }

			  #imagenCalculadora{
			  	padding-left: 90px;
			  }

			  #pruebaNose{
			  	width: 100%;
			  	padding-top: 30px;
			  }
			  #pruebaNose2{
			  	width: 100%;
			  	padding-top: 30px;
			  }
			}
			@media screen and (max-width:450px) and (min-width:400px) {
			  /* reglas CSS */
			  #logo{
			  	width: 130px;
			  }
			  #cabecera{
			  	height: 70px;
			  }
			  #botonMenu{
			  	font-size: 20px;
			  	padding-right: 40px;
			  	padding-top: 7px;
			  }
			  #sliderIndex{
			  	width: 100%;
			  	height: 500px;
			  }
			  #sliderIndex img{
			  	width: 100%;
			  	height: 500px;
			  }

			  #contenedores{
			  	padding-left: 40px;
			  }

			  #imagenCalculadora{
			  	padding-left: 90px;
			  }

			  #pruebaNose{
			  	width: 100%;
			  	padding-top: 30px;
			  }
			  #pruebaNose2{
			  	width: 100%;
			  	padding-top: 30px;
			  }
			}

			@media screen and (max-width:500px) and (min-width:450px) {
			  /* reglas CSS */
			  #logo{
			  	width: 130px;
			  }
			  #cabecera{
			  	height: 70px;
			  }
			  #botonMenu{
			  	font-size: 20px;
			  	padding-right: 40px;
			  	padding-top: 7px;
			  }
			  #sliderIndex{
			  	width: 100%;
			  	height: 500px;
			  }
			  #sliderIndex img{
			  	width: 100%;
			  	height: 500px;
			  }

			  #contenedores{
			  	padding-left: 40px;
			  }

			  #imagenCalculadora{
			  	padding-left: 120px;
			  }
			  #pruebaNose{
			  	width: 100%;
			  	padding-top: 30px;
			  }
			  #pruebaNose2{
			  	width: 100%;
			  	padding-top: 30px;
			  }
			}

			@media screen and (max-width:640px) and (min-width:500px) {
			  /* reglas CSS */
			  #logo{
			  	width: 130px;
			  }
			  #cabecera{
			  	height: 70px;
			  }
			  #botonMenu{
			  	font-size: 20px;
			  	padding-right: 40px;
			  	padding-top: 7px;
			  }
			  #sliderIndex{
			  	width: 100%;
			  	height: 500px;
			  }
			  #sliderIndex img{
			  	width: 100%;
			  	height: 500px;
			  }

			  #contenedores{
			  	padding-left: 40px;
			  }

			  #imagenCalculadora{
			  	padding-left: 120px;
			  }
			  #pruebaNose{
			  	width: 100%;
			  	padding-top: 30px;
			  }
			  #pruebaNose2{
			  	width: 100%;
			  	padding-top: 30px;
			  }
			}
			@media screen and (max-width:767px) and (min-width:640px) {
			  /* reglas CSS */
				 #logo{
				  	width: 130px;
				  }
				  #cabecera{
				  	height: 70px;
				  }
				  #botonMenu{
				  	font-size: 20px;
				  	padding-right: 40px;
				  	padding-top: 7px;
				  }
				  #sliderIndex{
				  	width: 100%;
				  	height: 500px;
				  }
				  #sliderIndex img{
				  	width: 100%;
				  	height: 500px;
				  }
				  #contenedores{
				  	padding-left: 40px;
				  }
				  #imagenCalculadora{
				  	padding-left: 150px;
				  }
				  #pruebaNose{
				  	width: 100%;
				  	padding-top: 30px;
				  }
				  #pruebaNose2{
				  	width: 100%;
				  	padding-top: 30px;
				  }
			}
			@media screen and (max-width:800px) and (min-width:768px) {
			  /* reglas CSS */
			  #logo{
			  	width: 150px;
			  }
			  #cabecera{
			  	height: 70px;
			  }

			  #noseWe2{
			  	visibility: none;
			  	display: none;
			  }
			  #botonMenu{
			  	font-size: 20px;
			  	padding-right: 40px;
			  	padding-top: 7px;
			  }

			  #sliderIndex{
			  	width: 100%;
			  	height: 470px;
			  }
			  #sliderIndex img{
			  	width: 100%;
			  	height: 470px;
			  }
			  #contenedores{
				  	padding-left: 40px;
				  }
			  #imagenCalculadora{
			  	padding-left: 150px;
			  }
			  #pruebaNose{
			  	width: 100%;
			  	padding-top: 30px;
			  }
			  #pruebaNose2{
			  	width: 100%;
			  	padding-top: 30px;
			  }
			}
			@media screen and (max-width:990px) and (min-width:800px) {
			  /* reglas CSS */
			  #logo{
			  	width: 150px;
			  	text-align: left;
			  }
			  #cabecera{
			  	height: 70px;
			  }

			  #noseWe2{
			  	visibility: none;
			  	display: none;
			  }
			  #botonMenu{
			  	font-size: 20px;
			  	padding-right: 40px;
			  	padding-top: 7px;
			  }
			  #sliderIndex{
			  	width: 100%;
			  	height: 470px;
			  }
			  #sliderIndex img{
			  	width: 100%;
			  	height: 470px;
			  }
			  #contenedores{
				  	padding-left: 40px;
				  }
			  #imagenCalculadora{
			  	padding-left: 150px;
			  }
			  #pruebaNose{
			  	width: 100%;
			  	padding-top: 30px;
			  }
			  #pruebaNose2{
			  	width: 100%;
			  	padding-top: 30px;
			  }	
			}
			@media screen and (min-width:991px) {
			  /* reglas CSS */
			  #logo{
			  	width: 120px;
			  	padding-right: 10px;
			  	padding-bottom: 30px;
			  }
			  #botonMenu{
			  	visibility: none;
			  	display: none;
			  }

			  #noseWe{
			  	padding-top: 10px;
			  	padding-left: 100px;
			  }
			  #contenedores{
			  	padding-left: 200px;
			  }

			  #contenidoCalculadora{
			  	padding-top: 80px;	
			  }
			  #pruebaNose{
			  	width: 100%;
			  	padding-top: 30px;
			  }	

			  #pruebaNose2{
			  	width: 100%;
			  	padding-top: 22px;
			  }	
			}

			/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
				@media screen and (max-width:350px) and (min-width:320px) {
			  /* reglas CSS */
				#menuQuieresInvertir{
					width: 100%; display:block; margin:auto;
				}

				#comoFuncionaMenu{
				  	width: 140px;
				  	height: 100px;
				}

				#comoFuncionaMenu img{
					padding-left: 17px;
				}

				#comoFuncionaMenu span{
					padding-left: 7px;
					font-size: 12px;
				}

				#testimoniosMenu{
				  	width: 140px;
				  	height: 100px;
				}

				#testimoniosMenu img {
				  	padding-left: 17px;
				}

				#testimoniosMenu span {
				  	padding-left: 12px;
				}

				#rendimientoMenu{
				  	width: 140px;
				  	height: 100px;
				}

				#rendimientoMenu img{
				  	padding-left: 17px;
				}

				#rendimientoMenu span{
				  	padding-left: 5px;
				}

				#comisionesMenu{
				  	width: 140px;
				  	height: 100px;
				}

				#comisionesMenu img {
				  	padding-left: 17px;
				}

				#comisionesMenu span {
				  	padding-left: 12px;
				}

				#tuDineroMenu{
				  	width: 140px;
				  	height: 100px;
				}

				#tuDineroMenu img {
				  	padding-left: 17px;
				}

				#tuDineroMenu span {
				  	padding-left: 20px;
				}

				#tranquilidadMenu{
				  	width: 140px;
				  	height: 100px;
				}

				#tranquilidadMenu img {
				  	padding-left: 17px;
				}

				#tranquilidadMenu span {
				  	padding-left: 12px;
				}

				#tasasMenu{
				  	width: 170px;
				  	height: 100px;
				  	margin-left: 60px;
				}

				#tasasMenu img {
				  	padding-left: 35px;
				}

				#tasasMenu span {
				  padding-left: 50px;
				}
			}
			@media screen and (max-width:380px) and (min-width:350px) {
			  /* reglas CSS */
				#menuQuieresInvertir{
					padding-left: 5px;
				}

				#comoFuncionaMenu{
				  	width: 170px;
				  	height: 100px;
				}

				#comoFuncionaMenu img{
					padding-left: 30px;
				}

				#testimoniosMenu{
				  	width: 140px;
				  	height: 100px;
				}

				#testimoniosMenu img {
				  	padding-left: 17px;
				}

				#testimoniosMenu span {
				  	padding-left: 12px;
				}

				#rendimientoMenu{
				  	width: 170px;
				  	height: 100px;
				}

				#rendimientoMenu img{
				  	padding-left: 30px;
				}

				#rendimientoMenu span{
				  	padding-left: 18px;
				}

				#comisionesMenu{
				  	width: 140px;
				  	height: 100px;
				}

				#comisionesMenu img {
				  	padding-left: 17px;
				}

				#comisionesMenu span {
				  	padding-left: 12px;
				}

				#tuDineroMenu{
				  	width: 170px;
				  	height: 100px;
				}

				#tuDineroMenu img {
				  	padding-left: 30px;
				}

				#tuDineroMenu span {
				  	padding-left: 35px;
				}

				#tranquilidadMenu{
				  	width: 140px;
				  	height: 100px;
				}

				#tranquilidadMenu img {
				  	padding-left: 17px;
				}

				#tranquilidadMenu span {
				  	padding-left: 12px;
				}

				#tasasMenu{
				  	width: 170px;
				  	height: 100px;
				  	margin-left: 80px;
				}

				#tasasMenu img {
				  	padding-left: 35px;
				}

				#tasasMenu span {
				  padding-left: 50px;
				}
			}
			@media screen and (max-width:410px) and (min-width:380px) {
			  /* reglas CSS */
				#menuQuieresInvertir{
					padding-left: 20px;
				}

				#comoFuncionaMenu{
				  	width: 170px;
				  	height: 100px;
				}

				#comoFuncionaMenu img{
					padding-left: 30px;
				}

				#testimoniosMenu{
				  	width: 140px;
				  	height: 100px;
				}

				#testimoniosMenu img {
				  	padding-left: 17px;
				}

				#testimoniosMenu span {
				  	padding-left: 12px;
				}

				#rendimientoMenu{
				  	width: 170px;
				  	height: 100px;
				}

				#rendimientoMenu img{
				  	padding-left: 30px;
				}

				#rendimientoMenu span{
				  	padding-left: 18px;
				}

				#comisionesMenu{
				  	width: 140px;
				  	height: 100px;
				}

				#comisionesMenu img {
				  	padding-left: 17px;
				}

				#comisionesMenu span {
				  	padding-left: 12px;
				}

				#tuDineroMenu{
				  	width: 170px;
				  	height: 100px;
				}

				#tuDineroMenu img {
				  	padding-left: 30px;
				}

				#tuDineroMenu span {
				  	padding-left: 35px;
				}

				#tranquilidadMenu{
				  	width: 140px;
				  	height: 100px;
				}

				#tranquilidadMenu img {
				  	padding-left: 17px;
				}

				#tranquilidadMenu span {
				  	padding-left: 12px;
				}

				#tasasMenu{
				  	width: 170px;
				  	height: 100px;
				  	margin-left: 80px;
				}

				#tasasMenu img {
				  	padding-left: 35px;
				}

				#tasasMenu span {
				  padding-left: 50px;
				}
			}
			@media screen and (max-width:440px) and (min-width:410px) {
			  /* reglas CSS */
				#menuQuieresInvertir{
					padding-left: 30px;
				}

				#comoFuncionaMenu{
				  	width: 170px;
				  	height: 100px;
				}

				#comoFuncionaMenu img{
					padding-left: 30px;
				}

				#testimoniosMenu{
				  	width: 140px;
				  	height: 100px;
				}

				#testimoniosMenu img {
				  	padding-left: 17px;
				}

				#testimoniosMenu span {
				  	padding-left: 12px;
				}

				#rendimientoMenu{
				  	width: 170px;
				  	height: 100px;
				}

				#rendimientoMenu img{
				  	padding-left: 30px;
				}

				#rendimientoMenu span{
				  	padding-left: 18px;
				}

				#comisionesMenu{
				  	width: 140px;
				  	height: 100px;
				}

				#comisionesMenu img {
				  	padding-left: 17px;
				}

				#comisionesMenu span {
				  	padding-left: 12px;
				}

				#tuDineroMenu{
				  	width: 170px;
				  	height: 100px;
				}

				#tuDineroMenu img {
				  	padding-left: 30px;
				}

				#tuDineroMenu span {
				  	padding-left: 35px;
				}

				#tranquilidadMenu{
				  	width: 140px;
				  	height: 100px;
				}

				#tranquilidadMenu img {
				  	padding-left: 17px;
				}

				#tranquilidadMenu span {
				  	padding-left: 12px;
				}

				#tasasMenu{
				  	width: 170px;
				  	height: 100px;
				  	margin-left: 80px;
				}

				#tasasMenu img {
				  	padding-left: 35px;
				}

				#tasasMenu span {
				  padding-left: 50px;
				}
			}
			@media screen and (max-width:470px) and (min-width:440px) {
			  /* reglas CSS */
				#menuQuieresInvertir{
					padding-left: 50px;
				}

				#comoFuncionaMenu{
				  	width: 170px;
				  	height: 100px;
				}

				#comoFuncionaMenu img{
					padding-left: 30px;
				}

				#testimoniosMenu{
				  	width: 140px;
				  	height: 100px;
				}

				#testimoniosMenu img {
				  	padding-left: 17px;
				}

				#testimoniosMenu span {
				  	padding-left: 12px;
				}

				#rendimientoMenu{
				  	width: 170px;
				  	height: 100px;
				}

				#rendimientoMenu img{
				  	padding-left: 30px;
				}

				#rendimientoMenu span{
				  	padding-left: 18px;
				}

				#comisionesMenu{
				  	width: 140px;
				  	height: 100px;
				}

				#comisionesMenu img {
				  	padding-left: 17px;
				}

				#comisionesMenu span {
				  	padding-left: 12px;
				}

				#tuDineroMenu{
				  	width: 170px;
				  	height: 100px;
				}

				#tuDineroMenu img {
				  	padding-left: 30px;
				}

				#tuDineroMenu span {
				  	padding-left: 35px;
				}

				#tranquilidadMenu{
				  	width: 140px;
				  	height: 100px;
				}

				#tranquilidadMenu img {
				  	padding-left: 17px;
				}

				#tranquilidadMenu span {
				  	padding-left: 12px;
				}

				#tasasMenu{
				  	width: 170px;
				  	height: 100px;
				  	margin-left: 80px;
				}

				#tasasMenu img {
				  	padding-left: 35px;
				}

				#tasasMenu span {
				  padding-left: 50px;
				}
			}
			@media screen and (max-width:510px) and (min-width:470px) {
			  /* reglas CSS */
				#menuQuieresInvertir{
					padding-left: 70px;
				}

				#comoFuncionaMenu{
				  	width: 170px;
				  	height: 100px;
				}

				#comoFuncionaMenu img{
					padding-left: 30px;
				}

				#testimoniosMenu{
				  	width: 140px;
				  	height: 100px;
				}

				#testimoniosMenu img {
				  	padding-left: 17px;
				}

				#testimoniosMenu span {
				  	padding-left: 12px;
				}

				#rendimientoMenu{
				  	width: 170px;
				  	height: 100px;
				}

				#rendimientoMenu img{
				  	padding-left: 30px;
				}

				#rendimientoMenu span{
				  	padding-left: 18px;
				}

				#comisionesMenu{
				  	width: 140px;
				  	height: 100px;
				}

				#comisionesMenu img {
				  	padding-left: 17px;
				}

				#comisionesMenu span {
				  	padding-left: 12px;
				}

				#tuDineroMenu{
				  	width: 170px;
				  	height: 100px;
				}

				#tuDineroMenu img {
				  	padding-left: 30px;
				}

				#tuDineroMenu span {
				  	padding-left: 35px;
				}

				#tranquilidadMenu{
				  	width: 140px;
				  	height: 100px;
				}

				#tranquilidadMenu img {
				  	padding-left: 17px;
				}

				#tranquilidadMenu span {
				  	padding-left: 12px;
				}

				#tasasMenu{
				  	width: 170px;
				  	height: 100px;
				  	margin-left: 80px;
				}

				#tasasMenu img {
				  	padding-left: 35px;
				}

				#tasasMenu span {
				  padding-left: 50px;
				}
			}
			@media screen and (max-width:550px) and (min-width:510px) {
			  /* reglas CSS */
				#menuQuieresInvertir{
					padding-left: 90px;
				}

				#comoFuncionaMenu{
				  	width: 170px;
				  	height: 100px;
				}

				#comoFuncionaMenu img{
					padding-left: 30px;
				}

				#testimoniosMenu{
				  	width: 140px;
				  	height: 100px;
				}

				#testimoniosMenu img {
				  	padding-left: 17px;
				}

				#testimoniosMenu span {
				  	padding-left: 12px;
				}

				#rendimientoMenu{
				  	width: 170px;
				  	height: 100px;
				}

				#rendimientoMenu img{
				  	padding-left: 30px;
				}

				#rendimientoMenu span{
				  	padding-left: 18px;
				}

				#comisionesMenu{
				  	width: 140px;
				  	height: 100px;
				}

				#comisionesMenu img {
				  	padding-left: 17px;
				}

				#comisionesMenu span {
				  	padding-left: 12px;
				}

				#tuDineroMenu{
				  	width: 170px;
				  	height: 100px;
				}

				#tuDineroMenu img {
				  	padding-left: 30px;
				}

				#tuDineroMenu span {
				  	padding-left: 35px;
				}

				#tranquilidadMenu{
				  	width: 140px;
				  	height: 100px;
				}

				#tranquilidadMenu img {
				  	padding-left: 17px;
				}

				#tranquilidadMenu span {
				  	padding-left: 12px;
				}

				#tasasMenu{
				  	width: 170px;
				  	height: 100px;
				  	margin-left: 80px;
				}

				#tasasMenu img {
				  	padding-left: 35px;
				}

				#tasasMenu span {
				  padding-left: 50px;
				}
			}
			@media screen and (max-width:580px) and (min-width:550px) {
			  /* reglas CSS */
				#menuQuieresInvertir{
					padding-left: 10px;
				}

				#comoFuncionaMenu{
				  	width: 120px;
				  	height: 100px;
				}

				#comoFuncionaMenu img{
					padding-left: 7px;
				}

				#comoFuncionaMenu span{
					margin-left: 10px;
				}

				#testimoniosMenu{
				  	width: 120px;
				  	height: 100px;
				}

				#testimoniosMenu img {
				  	padding-left: 7px;
				}

				#testimoniosMenu span {
				  	padding-left: 2px;
				}

				#rendimientoMenu{
				  	width: 130px;
				  	height: 100px;
				}

				#rendimientoMenu img{
				  	padding-left: 10px;
				}

				#rendimientoMenu span{
				  	margin-right: 10px;
				}

				#comisionesMenu{
				  	width: 120px;
				  	height: 100px;
				}

				#comisionesMenu img {
				  	padding-left: 7px;
				}

				#comisionesMenu span {
				  	padding-left: 2px;
				}

				#tuDineroMenu{
				  	width: 120px;
				  	height: 100px;
				  	margin-left: 65px;
				  	margin-top: 5px;
				}

				#tuDineroMenu img {
				  	padding-left: 10px;
				}

				#tuDineroMenu span {
				  	padding-left: 10px;
				}

				#tranquilidadMenu{
				  	width: 120px;
				  	height: 100px;
				  	margin-top: 5px;
				}

				#tranquilidadMenu img {
				  	padding-left: 10px;
				}

				#tranquilidadMenu span {
				  	padding-left: 3px;
				}

				#tasasMenu{
				  	width: 140px;
				  	height: 100px;
				  	margin-top: 5px;
				}

				#tasasMenu img {
				  	padding-left: 10px;
				}

				#tasasMenu span {
				  padding-left:23px;
				}
			}
			@media screen and (max-width:600px) and (min-width:580px) {
			  /* reglas CSS */
				#menuQuieresInvertir{
					padding-left: 10px;
				}

				#comoFuncionaMenu{
				  	width: 120px;
				  	height: 100px;
				}

				#comoFuncionaMenu img{
					padding-left: 7px;
				}

				#comoFuncionaMenu span{
					margin-left: 10px;
				}

				#testimoniosMenu{
				  	width: 120px;
				  	height: 100px;
				}

				#testimoniosMenu img {
				  	padding-left: 7px;
				}

				#testimoniosMenu span {
				  	padding-left: 2px;
				}

				#rendimientoMenu{
				  	width: 130px;
				  	height: 100px;
				}

				#rendimientoMenu img{
				  	padding-left: 10px;
				}

				#rendimientoMenu span{
				  	margin-right: 10px;
				}

				#comisionesMenu{
				  	width: 120px;
				  	height: 100px;
				}

				#comisionesMenu img {
				  	padding-left: 7px;
				}

				#comisionesMenu span {
				  	padding-left: 2px;
				}

				#tuDineroMenu{
				  	width: 120px;
				  	height: 100px;
				  	margin-left: 65px;
				  	margin-top: 5px;
				}

				#tuDineroMenu img {
				  	padding-left: 10px;
				}

				#tuDineroMenu span {
				  	padding-left: 10px;
				}

				#tranquilidadMenu{
				  	width: 120px;
				  	height: 100px;
				  	margin-top: 5px;
				}

				#tranquilidadMenu img {
				  	padding-left: 10px;
				}

				#tranquilidadMenu span {
				  	padding-left: 3px;
				}

				#tasasMenu{
				  	width: 140px;
				  	height: 100px;
				  	margin-top: 5px;
				}

				#tasasMenu img {
				  	padding-left: 10px;
				}

				#tasasMenu span {
				  padding-left:23px;
				}
			}
			@media screen and (max-width:620px) and (min-width:600px) {
			  /* reglas CSS */
				#menuQuieresInvertir{
					padding-left: 10px;
				}

				#comoFuncionaMenu{
				  	width: 120px;
				  	height: 100px;
				}

				#comoFuncionaMenu img{
					padding-left: 7px;
				}

				#comoFuncionaMenu span{
					margin-left: 10px;
				}

				#testimoniosMenu{
				  	width: 120px;
				  	height: 100px;
				}

				#testimoniosMenu img {
				  	padding-left: 7px;
				}

				#testimoniosMenu span {
				  	padding-left: 2px;
				}

				#rendimientoMenu{
				  	width: 130px;
				  	height: 100px;
				}

				#rendimientoMenu img{
				  	padding-left: 10px;
				}

				#rendimientoMenu span{
				  	margin-right: 10px;
				}

				#comisionesMenu{
				  	width: 120px;
				  	height: 100px;
				}

				#comisionesMenu img {
				  	padding-left: 7px;
				}

				#comisionesMenu span {
				  	padding-left: 2px;
				}

				#tuDineroMenu{
				  	width: 120px;
				  	height: 100px;
				  	margin-left: 65px;
				  	margin-top: 5px;
				}

				#tuDineroMenu img {
				  	padding-left: 10px;
				}

				#tuDineroMenu span {
				  	padding-left: 10px;
				}

				#tranquilidadMenu{
				  	width: 120px;
				  	height: 100px;
				  	margin-top: 5px;
				}

				#tranquilidadMenu img {
				  	padding-left: 10px;
				}

				#tranquilidadMenu span {
				  	padding-left: 3px;
				}

				#tasasMenu{
				  	width: 140px;
				  	height: 100px;
				  	margin-top: 5px;
				}

				#tasasMenu img {
				  	padding-left: 10px;
				}

				#tasasMenu span {
				  padding-left:23px;
				}
			}
			@media screen and (max-width:650px) and (min-width:620px) {
			  /* reglas CSS */
				#menuQuieresInvertir{
					padding-left: 40px;
				}

				#comoFuncionaMenu{
				  	width: 120px;
				  	height: 100px;
				}

				#comoFuncionaMenu img{
					padding-left: 7px;
				}

				#comoFuncionaMenu span{
					margin-left: 10px;
				}

				#testimoniosMenu{
				  	width: 120px;
				  	height: 100px;
				}

				#testimoniosMenu img {
				  	padding-left: 7px;
				}

				#testimoniosMenu span {
				  	padding-left: 2px;
				}

				#rendimientoMenu{
				  	width: 130px;
				  	height: 100px;
				}

				#rendimientoMenu img{
				  	padding-left: 10px;
				}

				#rendimientoMenu span{
				  	margin-right: 10px;
				}

				#comisionesMenu{
				  	width: 120px;
				  	height: 100px;
				}

				#comisionesMenu img {
				  	padding-left: 7px;
				}

				#comisionesMenu span {
				  	padding-left: 2px;
				}

				#tuDineroMenu{
				  	width: 120px;
				  	height: 100px;
				  	margin-left: 65px;
				  	margin-top: 5px;
				}

				#tuDineroMenu img {
				  	padding-left: 10px;
				}

				#tuDineroMenu span {
				  	padding-left: 10px;
				}

				#tranquilidadMenu{
				  	width: 120px;
				  	height: 100px;
				  	margin-top: 5px;
				}

				#tranquilidadMenu img {
				  	padding-left: 10px;
				}

				#tranquilidadMenu span {
				  	padding-left: 3px;
				}

				#tasasMenu{
				  	width: 140px;
				  	height: 100px;
				  	margin-top: 5px;
				}

				#tasasMenu img {
				  	padding-left: 10px;
				}

				#tasasMenu span {
				  padding-left:23px;
				}
			}	
			@media screen and (max-width:680px) and (min-width:650px) {
			  /* reglas CSS */
				#menuQuieresInvertir{
					padding-left: 60px;
				}

				#comoFuncionaMenu{
				  	width: 120px;
				  	height: 100px;
				}

				#comoFuncionaMenu img{
					padding-left: 7px;
				}

				#comoFuncionaMenu span{
					margin-left: 10px;
				}

				#testimoniosMenu{
				  	width: 120px;
				  	height: 100px;
				}

				#testimoniosMenu img {
				  	padding-left: 7px;
				}

				#testimoniosMenu span {
				  	padding-left: 2px;
				}

				#rendimientoMenu{
				  	width: 130px;
				  	height: 100px;
				}

				#rendimientoMenu img{
				  	padding-left: 10px;
				}

				#rendimientoMenu span{
				  	margin-right: 10px;
				}

				#comisionesMenu{
				  	width: 120px;
				  	height: 100px;
				}

				#comisionesMenu img {
				  	padding-left: 7px;
				}

				#comisionesMenu span {
				  	padding-left: 2px;
				}

				#tuDineroMenu{
				  	width: 120px;
				  	height: 100px;
				  	margin-left: 65px;
				  	margin-top: 5px;
				}

				#tuDineroMenu img {
				  	padding-left: 10px;
				}

				#tuDineroMenu span {
				  	padding-left: 10px;
				}

				#tranquilidadMenu{
				  	width: 120px;
				  	height: 100px;
				  	margin-top: 5px;
				}

				#tranquilidadMenu img {
				  	padding-left: 10px;
				}

				#tranquilidadMenu span {
				  	padding-left: 3px;
				}

				#tasasMenu{
				  	width: 140px;
				  	height: 100px;
				  	margin-top: 5px;
				}

				#tasasMenu img {
				  	padding-left: 10px;
				}

				#tasasMenu span {
				  padding-left:23px;
				}
			}
			@media screen and (max-width:730px) and (min-width:680px) {
			  /* reglas CSS */
				#menuQuieresInvertir{
					padding-left: 90px;
				}

				#comoFuncionaMenu{
				  	width: 120px;
				  	height: 100px;
				}

				#comoFuncionaMenu img{
					padding-left: 7px;
				}

				#comoFuncionaMenu span{
					margin-left: 10px;
				}

				#testimoniosMenu{
				  	width: 120px;
				  	height: 100px;
				}

				#testimoniosMenu img {
				  	padding-left: 7px;
				}

				#testimoniosMenu span {
				  	padding-left: 2px;
				}

				#rendimientoMenu{
				  	width: 130px;
				  	height: 100px;
				}

				#rendimientoMenu img{
				  	padding-left: 10px;
				}

				#rendimientoMenu span{
				  	margin-right: 10px;
				}

				#comisionesMenu{
				  	width: 120px;
				  	height: 100px;
				}

				#comisionesMenu img {
				  	padding-left: 7px;
				}

				#comisionesMenu span {
				  	padding-left: 2px;
				}

				#tuDineroMenu{
				  	width: 120px;
				  	height: 100px;
				  	margin-left: 65px;
				  	margin-top: 5px;
				}

				#tuDineroMenu img {
				  	padding-left: 10px;
				}

				#tuDineroMenu span {
				  	padding-left: 10px;
				}

				#tranquilidadMenu{
				  	width: 120px;
				  	height: 100px;
				  	margin-top: 5px;
				}

				#tranquilidadMenu img {
				  	padding-left: 10px;
				}

				#tranquilidadMenu span {
				  	padding-left: 3px;
				}

				#tasasMenu{
				  	width: 140px;
				  	height: 100px;
				  	margin-top: 5px;
				}

				#tasasMenu img {
				  	padding-left: 10px;
				}

				#tasasMenu span {
				  padding-left:23px;
				}
			}
			@media screen and (max-width:760px) and (min-width:730px) {
			  /* reglas CSS */
				#menuQuieresInvertir{
					padding-left: 100px;
				}

				#comoFuncionaMenu{
				  	width: 120px;
				  	height: 100px;
				}

				#comoFuncionaMenu img{
					padding-left: 7px;
				}

				#comoFuncionaMenu span{
					margin-left: 10px;
				}

				#testimoniosMenu{
				  	width: 120px;
				  	height: 100px;
				}

				#testimoniosMenu img {
				  	padding-left: 7px;
				}

				#testimoniosMenu span {
				  	padding-left: 2px;
				}

				#rendimientoMenu{
				  	width: 130px;
				  	height: 100px;
				}

				#rendimientoMenu img{
				  	padding-left: 10px;
				}

				#rendimientoMenu span{
				  	margin-right: 10px;
				}

				#comisionesMenu{
				  	width: 120px;
				  	height: 100px;
				}

				#comisionesMenu img {
				  	padding-left: 7px;
				}

				#comisionesMenu span {
				  	padding-left: 2px;
				}

				#tuDineroMenu{
				  	width: 120px;
				  	height: 100px;
				  	margin-left: 65px;
				  	margin-top: 5px;
				}

				#tuDineroMenu img {
				  	padding-left: 10px;
				}

				#tuDineroMenu span {
				  	padding-left: 10px;
				}

				#tranquilidadMenu{
				  	width: 120px;
				  	height: 100px;
				  	margin-top: 5px;
				}

				#tranquilidadMenu img {
				  	padding-left: 10px;
				}

				#tranquilidadMenu span {
				  	padding-left: 3px;
				}

				#tasasMenu{
				  	width: 140px;
				  	height: 100px;
				  	margin-top: 5px;
				}

				#tasasMenu img {
				  	padding-left: 10px;
				}

				#tasasMenu span {
				  padding-left:23px;
				}
			}
			@media screen and (max-width:780px) and (min-width:760px) {
			  /* reglas CSS */
				#menuQuieresInvertir{
					padding-left: 120px;
				}

				#comoFuncionaMenu{
				  	width: 120px;
				  	height: 100px;
				}

				#comoFuncionaMenu img{
					padding-left: 7px;
				}

				#comoFuncionaMenu span{
					margin-left: 10px;
				}

				#testimoniosMenu{
				  	width: 120px;
				  	height: 100px;
				}

				#testimoniosMenu img {
				  	padding-left: 7px;
				}

				#testimoniosMenu span {
				  	padding-left: 2px;
				}

				#rendimientoMenu{
				  	width: 130px;
				  	height: 100px;
				}

				#rendimientoMenu img{
				  	padding-left: 10px;
				}

				#rendimientoMenu span{
				  	margin-right: 10px;
				}

				#comisionesMenu{
				  	width: 120px;
				  	height: 100px;
				}

				#comisionesMenu img {
				  	padding-left: 7px;
				}

				#comisionesMenu span {
				  	padding-left: 2px;
				}

				#tuDineroMenu{
				  	width: 120px;
				  	height: 100px;
				  	margin-left: 65px;
				  	margin-top: 5px;
				}

				#tuDineroMenu img {
				  	padding-left: 10px;
				}

				#tuDineroMenu span {
				  	padding-left: 10px;
				}

				#tranquilidadMenu{
				  	width: 120px;
				  	height: 100px;
				  	margin-top: 5px;
				}

				#tranquilidadMenu img {
				  	padding-left: 10px;
				}

				#tranquilidadMenu span {
				  	padding-left: 3px;
				}

				#tasasMenu{
				  	width: 140px;
				  	height: 100px;
				  	margin-top: 5px;
				}

				#tasasMenu img {
				  	padding-left: 10px;
				}

				#tasasMenu span {
				  padding-left:23px;
				}
			}
			@media screen and (max-width:810px) and (min-width:780px) {
			  /* reglas CSS */
				#menuQuieresInvertir{
					padding-left: 140px;
				}

				#comoFuncionaMenu{
				  	width: 120px;
				  	height: 100px;
				}

				#comoFuncionaMenu img{
					padding-left: 7px;
				}

				#comoFuncionaMenu span{
					margin-left: 10px;
				}

				#testimoniosMenu{
				  	width: 120px;
				  	height: 100px;
				}

				#testimoniosMenu img {
				  	padding-left: 7px;
				}

				#testimoniosMenu span {
				  	padding-left: 2px;
				}

				#rendimientoMenu{
				  	width: 130px;
				  	height: 100px;
				}

				#rendimientoMenu img{
				  	padding-left: 10px;
				}

				#rendimientoMenu span{
				  	margin-right: 10px;
				}

				#comisionesMenu{
				  	width: 120px;
				  	height: 100px;
				}

				#comisionesMenu img {
				  	padding-left: 7px;
				}

				#comisionesMenu span {
				  	padding-left: 2px;
				}

				#tuDineroMenu{
				  	width: 120px;
				  	height: 100px;
				  	margin-left: 65px;
				  	margin-top: 5px;
				}

				#tuDineroMenu img {
				  	padding-left: 10px;
				}

				#tuDineroMenu span {
				  	padding-left: 10px;
				}

				#tranquilidadMenu{
				  	width: 120px;
				  	height: 100px;
				  	margin-top: 5px;
				}

				#tranquilidadMenu img {
				  	padding-left: 10px;
				}

				#tranquilidadMenu span {
				  	padding-left: 3px;
				}

				#tasasMenu{
				  	width: 140px;
				  	height: 100px;
				  	margin-top: 5px;
				}

				#tasasMenu img {
				  	padding-left: 10px;
				}

				#tasasMenu span {
				  padding-left:23px;
				}
			}
			@media screen and (max-width:870px) and (min-width:810px) {
			  /* reglas CSS */
				#menuQuieresInvertir{
					padding-left: 160px;
				}

				#comoFuncionaMenu{
				  	width: 120px;
				  	height: 100px;
				}

				#comoFuncionaMenu img{
					padding-left: 7px;
				}

				#comoFuncionaMenu span{
					margin-left: 10px;
				}

				#testimoniosMenu{
				  	width: 120px;
				  	height: 100px;
				}

				#testimoniosMenu img {
				  	padding-left: 7px;
				}

				#testimoniosMenu span {
				  	padding-left: 2px;
				}

				#rendimientoMenu{
				  	width: 130px;
				  	height: 100px;
				}

				#rendimientoMenu img{
				  	padding-left: 10px;
				}

				#rendimientoMenu span{
				  	margin-right: 10px;
				}

				#comisionesMenu{
				  	width: 120px;
				  	height: 100px;
				}

				#comisionesMenu img {
				  	padding-left: 7px;
				}

				#comisionesMenu span {
				  	padding-left: 2px;
				}

				#tuDineroMenu{
				  	width: 120px;
				  	height: 100px;
				  	margin-left: 65px;
				  	margin-top: 5px;
				}

				#tuDineroMenu img {
				  	padding-left: 10px;
				}

				#tuDineroMenu span {
				  	padding-left: 10px;
				}

				#tranquilidadMenu{
				  	width: 120px;
				  	height: 100px;
				  	margin-top: 5px;
				}

				#tranquilidadMenu img {
				  	padding-left: 10px;
				}

				#tranquilidadMenu span {
				  	padding-left: 3px;
				}

				#tasasMenu{
				  	width: 140px;
				  	height: 100px;
				  	margin-top: 5px;
				}

				#tasasMenu img {
				  	padding-left: 10px;
				}

				#tasasMenu span {
				  padding-left:23px;
				}
			}
			@media screen and (max-width:890px) and (min-width:870px) {
			  /* reglas CSS */
				#menuQuieresInvertir{
					padding-left: 180px;
				}

				#comoFuncionaMenu{
				  	width: 120px;
				  	height: 100px;
				}

				#comoFuncionaMenu img{
					padding-left: 7px;
				}

				#comoFuncionaMenu span{
					margin-left: 10px;
				}

				#testimoniosMenu{
				  	width: 120px;
				  	height: 100px;
				}

				#testimoniosMenu img {
				  	padding-left: 7px;
				}

				#testimoniosMenu span {
				  	padding-left: 2px;
				}

				#rendimientoMenu{
				  	width: 130px;
				  	height: 100px;
				}

				#rendimientoMenu img{
				  	padding-left: 10px;
				}

				#rendimientoMenu span{
				  	margin-right: 10px;
				}

				#comisionesMenu{
				  	width: 120px;
				  	height: 100px;
				}

				#comisionesMenu img {
				  	padding-left: 7px;
				}

				#comisionesMenu span {
				  	padding-left: 2px;
				}

				#tuDineroMenu{
				  	width: 120px;
				  	height: 100px;
				  	margin-left: 65px;
				  	margin-top: 5px;
				}

				#tuDineroMenu img {
				  	padding-left: 10px;
				}

				#tuDineroMenu span {
				  	padding-left: 10px;
				}

				#tranquilidadMenu{
				  	width: 120px;
				  	height: 100px;
				  	margin-top: 5px;
				}

				#tranquilidadMenu img {
				  	padding-left: 10px;
				}

				#tranquilidadMenu span {
				  	padding-left: 3px;
				}

				#tasasMenu{
				  	width: 140px;
				  	height: 100px;
				  	margin-top: 5px;
				}

				#tasasMenu img {
				  	padding-left: 10px;
				}

				#tasasMenu span {
				  padding-left:23px;
				}
			}
			@media screen and (max-width:900px) and (min-width:890px) {
			  /* reglas CSS */
				#menuQuieresInvertir{
					padding-left: 120px;
				}

				#comoFuncionaMenu{
				  	width: 160px;
				  	height: 100px;
				}

				#comoFuncionaMenu img{
					padding-left: 28px;
				}

				#testimoniosMenu{
				  	width: 160px;
				  	height: 100px;
				}

				#testimoniosMenu img {
				  	padding-left: 27px;
				}

				#testimoniosMenu span {
				  	padding-left: 22px;
				}

				#rendimientoMenu{
				  	width: 160px;
				  	height: 100px;
				}

				#rendimientoMenu img{
				  	padding-left: 27px;
				}

				#rendimientoMenu span{
				  	padding-left: 16px;
				}

				#comisionesMenu{
				  	width: 160px;
				  	height: 100px;
				}

				#comisionesMenu img {
				  	padding-left: 27px;
				}

				#comisionesMenu span {
				  	padding-left: 23px;
				}

				#tuDineroMenu{
				  	width: 160px;
				  	height: 100px;
				  	margin-left: 80px;
				}

				#tuDineroMenu img {
				  	padding-left: 28px;
				}

				#tuDineroMenu span {
				  	padding-left: 30px;
				}

				#tranquilidadMenu{
				  	width: 160px;
				  	height: 100px;
				}

				#tranquilidadMenu img {
				  	padding-left: 28px;
				}

				#tranquilidadMenu span {
				  	padding-left: 21px;
				}

				#tasasMenu{
				  	width: 160px;
				  	height: 100px;
				}

				#tasasMenu img {
				  	padding-left: 28px;
				}

				#tasasMenu span {
				  padding-left:40px;
				}
			}
			@media screen and (max-width:920px) and (min-width:900px) {
			  /* reglas CSS */
			  	#menuQuieresInvertir{
					padding-left: 20px;
				}
				#comoFuncionaMenu{
				  	width: 150px;
				  	height: 100px;
				}

				#comoFuncionaMenu img{
					padding-left: 20px;
				}

				#comoFuncionaMenu span{
					font-size: 14px;
				}

				#testimoniosMenu{
				  	width: 120px;
				  	height: 100px;
				}

				#testimoniosMenu img {
				  	padding-left: 5px;
				}

				#testimoniosMenu span {
				  	font-size: 14px;
				  	padding-left: 5px;
				}

				#rendimientoMenu{
				  	width: 115px;
				  	height: 100px;
				}

				#rendimientoMenu img{
				  	padding-left: 4px;
				}

				#rendimientoMenu span{
				  	font-size: 14px;
				}

				#comisionesMenu{
				  	width: 110px;
				  	height: 100px;
				}

				#comisionesMenu span {
				  	font-size: 14px;
				  	padding-left: 1px;
				}

				#tuDineroMenu{
				  	width: 110px;
				  	height: 100px;
				}

				#tuDineroMenu img {
				  	padding-left: 2px;
				}

				#tuDineroMenu span {
				  	padding-left: 10px;
				  	font-size: 14px;
				}

				#tranquilidadMenu{
				  	width: 110px;
				  	height: 100px;
				}

				#tranquilidadMenu span {
				  	font-size: 14px;
				}

				#tasasMenu{
				  	width: 110px;
				  	height: 100px;
				}

				#tasasMenu span {
				  	padding-left: 15px;
				  	font-size: 14px;
				}
			}
			@media screen and (max-width:950px) and (min-width:920px) {
			  /* reglas CSS */
			  	#menuQuieresInvertir{
					padding-left: 20px;
				}
				#comoFuncionaMenu{
				  	width: 150px;
				  	height: 100px;
				}

				#comoFuncionaMenu img{
					padding-left: 20px;
				}

				#comoFuncionaMenu span{
					font-size: 14px;
				}

				#testimoniosMenu{
				  	width: 120px;
				  	height: 100px;
				}

				#testimoniosMenu img {
				  	padding-left: 5px;
				}

				#testimoniosMenu span {
				  	font-size: 14px;
				  	padding-left: 5px;
				}

				#rendimientoMenu{
				  	width: 115px;
				  	height: 100px;
				}

				#rendimientoMenu img{
				  	padding-left: 4px;
				}

				#rendimientoMenu span{
				  	font-size: 14px;
				}

				#comisionesMenu{
				  	width: 110px;
				  	height: 100px;
				}

				#comisionesMenu span {
				  	font-size: 14px;
				  	padding-left: 1px;
				}

				#tuDineroMenu{
				  	width: 110px;
				  	height: 100px;
				}

				#tuDineroMenu img {
				  	padding-left: 2px;
				}

				#tuDineroMenu span {
				  	padding-left: 10px;
				  	font-size: 14px;
				}

				#tranquilidadMenu{
				  	width: 110px;
				  	height: 100px;
				}

				#tranquilidadMenu span {
				  	font-size: 14px;
				}

				#tasasMenu{
				  	width: 110px;
				  	height: 100px;
				}

				#tasasMenu span {
				  	padding-left: 15px;
				  	font-size: 14px;
				}
			}
			@media screen and (max-width:975px) and (min-width:950px) {
			  /* reglas CSS */
			  	#menuQuieresInvertir{
					padding-left: 40px;
				}
				#comoFuncionaMenu{
				  	width: 150px;
				  	height: 100px;
				}

				#comoFuncionaMenu img{
					padding-left: 20px;
				}

				#comoFuncionaMenu span{
					font-size: 14px;
				}

				#testimoniosMenu{
				  	width: 120px;
				  	height: 100px;
				}

				#testimoniosMenu img {
				  	padding-left: 5px;
				}

				#testimoniosMenu span {
				  	font-size: 14px;
				  	padding-left: 5px;
				}

				#rendimientoMenu{
				  	width: 115px;
				  	height: 100px;
				}

				#rendimientoMenu img{
				  	padding-left: 4px;
				}

				#rendimientoMenu span{
				  	font-size: 14px;
				}

				#comisionesMenu{
				  	width: 110px;
				  	height: 100px;
				}

				#comisionesMenu span {
				  	font-size: 14px;
				  	padding-left: 1px;
				}

				#tuDineroMenu{
				  	width: 110px;
				  	height: 100px;
				}

				#tuDineroMenu img {
				  	padding-left: 2px;
				}

				#tuDineroMenu span {
				  	padding-left: 10px;
				  	font-size: 14px;
				}

				#tranquilidadMenu{
				  	width: 110px;
				  	height: 100px;
				}

				#tranquilidadMenu span {
				  	font-size: 14px;
				}

				#tasasMenu{
				  	width: 110px;
				  	height: 100px;
				}

				#tasasMenu span {
				  	padding-left: 15px;
				  	font-size: 14px;
				}
			}
			@media screen and (max-width:990px) and (min-width:975px) {
			  /* reglas CSS */
			  	#menuQuieresInvertir{
					padding-left: 60px;
				}

				#comoFuncionaMenu img{
					padding-left: 20px;
				}

				#comoFuncionaMenu span{
					font-size: 14px;
				}

				#testimoniosMenu img {
				  	padding-left: 5px;
				}

				#testimoniosMenu span {
				  	font-size: 14px;
				  	padding-left: 5px;
				}

				#rendimientoMenu img{
				  	padding-left: 4px;
				}

				#rendimientoMenu span{
				  	font-size: 14px;
				}

				#comisionesMenu span {
				  	font-size: 14px;
				  	padding-left: 1px;
				}

				#tuDineroMenu img {
				  	padding-left: 2px;
				}

				#tuDineroMenu span {
				  	padding-left: 10px;
				  	font-size: 14px;
				}

				#tranquilidadMenu span {
				  	font-size: 14px;
				}

				#tasasMenu span {
				  	padding-left: 15px;
				  	font-size: 14px;
				}
			}
			@media screen and (max-width:1000px) and (min-width:990px) {
			  /* reglas CSS */
			  	#menuQuieresInvertir{
					padding-left: 80px;
				}

				#comoFuncionaMenu img{
					padding-left: 20px;
				}

				#comoFuncionaMenu span{
					font-size: 14px;
				}

				#testimoniosMenu img {
				  	padding-left: 5px;
				}

				#testimoniosMenu span {
				  	font-size: 14px;
				  	padding-left: 5px;
				}

				#rendimientoMenu img{
				  	padding-left: 4px;
				}

				#rendimientoMenu span{
				  	font-size: 14px;
				}

				#comisionesMenu span {
				  	font-size: 14px;
				  	padding-left: 1px;
				}

				#tuDineroMenu img {
				  	padding-left: 2px;
				}

				#tuDineroMenu span {
				  	padding-left: 10px;
				  	font-size: 14px;
				}

				#tranquilidadMenu span {
				  	font-size: 14px;
				}

				#tasasMenu span {
				  	padding-left: 15px;
				  	font-size: 14px;
				}
			}
			@media screen and (max-width:1050px) and (min-width:1000px) {
			  /* reglas CSS */
			  	#menuQuieresInvertir{
					padding-left: 90px;
				}

				#comoFuncionaMenu img{
					padding-left: 20px;
				}

				#comoFuncionaMenu span{
					font-size: 14px;
				}

				#testimoniosMenu img {
				  	padding-left: 5px;
				}

				#testimoniosMenu span {
				  	font-size: 14px;
				  	padding-left: 5px;
				}

				#rendimientoMenu img{
				  	padding-left: 4px;
				}

				#rendimientoMenu span{
				  	font-size: 14px;
				}

				#comisionesMenu span {
				  	font-size: 14px;
				  	padding-left: 1px;
				}

				#tuDineroMenu img {
				  	padding-left: 2px;
				}

				#tuDineroMenu span {
				  	padding-left: 10px;
				  	font-size: 14px;
				}

				#tranquilidadMenu span {
				  	font-size: 14px;
				}

				#tasasMenu span {
				  	padding-left: 15px;
				  	font-size: 14px;
				}
			}
			@media screen and (max-width:1100px) and (min-width:1050px) {
			  /* reglas CSS */
			  	#menuQuieresInvertir{
					padding-left: 90px;
				}

				#comoFuncionaMenu img{
					padding-left: 20px;
				}

				#comoFuncionaMenu span{
					font-size: 14px;
				}

				#testimoniosMenu img {
				  	padding-left: 5px;
				}

				#testimoniosMenu span {
				  	font-size: 14px;
				  	padding-left: 5px;
				}

				#rendimientoMenu img{
				  	padding-left: 4px;
				}

				#rendimientoMenu span{
				  	font-size: 14px;
				}

				#comisionesMenu span {
				  	font-size: 14px;
				  	padding-left: 1px;
				}

				#tuDineroMenu img {
				  	padding-left: 2px;
				}

				#tuDineroMenu span {
				  	padding-left: 10px;
				  	font-size: 14px;
				}

				#tranquilidadMenu span {
				  	font-size: 14px;
				}

				#tasasMenu span {
				  	padding-left: 15px;
				  	font-size: 14px;
				}
			}
			@media screen and (max-width:1130px) and (min-width:1100px) {
			  /* reglas CSS */
			  	#menuQuieresInvertir{
					padding-left: 120px;
				}

				#comoFuncionaMenu img{
					padding-left: 20px;
				}

				#comoFuncionaMenu span{
					font-size: 14px;
				}

				#testimoniosMenu img {
				  	padding-left: 5px;
				}

				#testimoniosMenu span {
				  	font-size: 14px;
				  	padding-left: 5px;
				}

				#rendimientoMenu img{
				  	padding-left: 4px;
				}

				#rendimientoMenu span{
				  	font-size: 14px;
				}

				#comisionesMenu span {
				  	font-size: 14px;
				  	padding-left: 1px;
				}

				#tuDineroMenu img {
				  	padding-left: 2px;
				}

				#tuDineroMenu span {
				  	padding-left: 10px;
				  	font-size: 14px;
				}

				#tranquilidadMenu span {
				  	font-size: 14px;
				}

				#tasasMenu span {
				  	padding-left: 15px;
				  	font-size: 14px;
				}
			}
			@media screen and (max-width:1180px) and (min-width:1130px) {
			  /* reglas CSS */
			  	#menuQuieresInvertir{
					padding-left: 150px;
				}

				#comoFuncionaMenu img{
					padding-left: 20px;
				}

				#comoFuncionaMenu span{
					font-size: 14px;
				}

				#testimoniosMenu img {
				  	padding-left: 5px;
				}

				#testimoniosMenu span {
				  	font-size: 14px;
				  	padding-left: 5px;
				}

				#rendimientoMenu img{
				  	padding-left: 4px;
				}

				#rendimientoMenu span{
				  	font-size: 14px;
				}

				#comisionesMenu span {
				  	font-size: 14px;
				  	padding-left: 1px;
				}

				#tuDineroMenu img {
				  	padding-left: 2px;
				}

				#tuDineroMenu span {
				  	padding-left: 10px;
				  	font-size: 14px;
				}

				#tranquilidadMenu span {
				  	font-size: 14px;
				}

				#tasasMenu span {
				  	padding-left: 15px;
				  	font-size: 14px;
				}
			}	
			@media screen and (max-width:1210px) and (min-width:1180px) {
			  /* reglas CSS */
			  	#menuQuieresInvertir{
					padding-left: 170px;
				}

				#comoFuncionaMenu img{
					padding-left: 20px;
				}

				#comoFuncionaMenu span{
					font-size: 14px;
				}

				#testimoniosMenu img {
				  	padding-left: 5px;
				}

				#testimoniosMenu span {
				  	font-size: 14px;
				  	padding-left: 5px;
				}

				#rendimientoMenu img{
				  	padding-left: 4px;
				}

				#rendimientoMenu span{
				  	font-size: 14px;
				}

				#comisionesMenu span {
				  	font-size: 14px;
				  	padding-left: 1px;
				}

				#tuDineroMenu img {
				  	padding-left: 2px;
				}

				#tuDineroMenu span {
				  	padding-left: 10px;
				  	font-size: 14px;
				}

				#tranquilidadMenu span {
				  	font-size: 14px;
				}

				#tasasMenu span {
				  	padding-left: 15px;
				  	font-size: 14px;
				}
			}	
			@media screen and (max-width:1280px) and (min-width:1210px) {
			  /* reglas CSS */
			  	#menuQuieresInvertir{
					padding-left: 190px;
				}

				#comoFuncionaMenu img{
					padding-left: 20px;
				}

				#comoFuncionaMenu span{
					font-size: 14px;
				}

				#testimoniosMenu img {
				  	padding-left: 5px;
				}

				#testimoniosMenu span {
				  	font-size: 14px;
				  	padding-left: 5px;
				}

				#rendimientoMenu img{
				  	padding-left: 4px;
				}

				#rendimientoMenu span{
				  	font-size: 14px;
				}

				#comisionesMenu span {
				  	font-size: 14px;
				  	padding-left: 1px;
				}

				#tuDineroMenu img {
				  	padding-left: 2px;
				}

				#tuDineroMenu span {
				  	padding-left: 10px;
				  	font-size: 14px;
				}

				#tranquilidadMenu span {
				  	font-size: 14px;
				}

				#tasasMenu span {
				  	padding-left: 15px;
				  	font-size: 14px;
				}
			}
			@media screen and (max-width:1300px) and (min-width:1280px) {
			  /* reglas CSS */
			  	#menuQuieresInvertir{
					padding-left: 220px;
				}

				#comoFuncionaMenu img{
					padding-left: 20px;
				}

				#comoFuncionaMenu span{
					font-size: 14px;
				}

				#testimoniosMenu img {
				  	padding-left: 5px;
				}

				#testimoniosMenu span {
				  	font-size: 14px;
				  	padding-left: 5px;
				}

				#rendimientoMenu img{
				  	padding-left: 4px;
				}

				#rendimientoMenu span{
				  	font-size: 14px;
				}

				#comisionesMenu span {
				  	font-size: 14px;
				  	padding-left: 1px;
				}

				#tuDineroMenu img {
				  	padding-left: 2px;
				}

				#tuDineroMenu span {
				  	padding-left: 10px;
				  	font-size: 14px;
				}

				#tranquilidadMenu span {
				  	font-size: 14px;
				}

				#tasasMenu span {
				  	padding-left: 15px;
				  	font-size: 14px;
				}
			}	
			@media screen and (max-width:1370px) and (min-width:1230px) {
			  /* reglas CSS */
			  	#menuQuieresInvertir{
					padding-left: 240px;
				}

				#comoFuncionaMenu img{
					padding-left: 20px;
				}

				#comoFuncionaMenu span{
					font-size: 14px;
				}

				#testimoniosMenu img {
				  	padding-left: 5px;
				}

				#testimoniosMenu span {
				  	font-size: 14px;
				  	padding-left: 5px;
				}

				#rendimientoMenu img{
				  	padding-left: 4px;
				}

				#rendimientoMenu span{
				  	font-size: 14px;
				}

				#comisionesMenu span {
				  	font-size: 14px;
				  	padding-left: 1px;
				}

				#tuDineroMenu img {
				  	padding-left: 2px;
				}

				#tuDineroMenu span {
				  	padding-left: 10px;
				  	font-size: 14px;
				}

				#tranquilidadMenu span {
				  	font-size: 14px;
				}

				#tasasMenu span {
				  	padding-left: 15px;
				  	font-size: 14px;
				}
			}
			@media screen and (max-width:1400px) and (min-width:1370px) {
			  /* reglas CSS */
			  	#menuQuieresInvertir{
					padding-left: 270px;
				}

				#comoFuncionaMenu img{
					padding-left: 20px;
				}

				#comoFuncionaMenu span{
					font-size: 14px;
				}

				#testimoniosMenu img {
				  	padding-left: 5px;
				}

				#testimoniosMenu span {
				  	font-size: 14px;
				  	padding-left: 5px;
				}

				#rendimientoMenu img{
				  	padding-left: 4px;
				}

				#rendimientoMenu span{
				  	font-size: 14px;
				}

				#comisionesMenu span {
				  	font-size: 14px;
				  	padding-left: 1px;
				}

				#tuDineroMenu img {
				  	padding-left: 2px;
				}

				#tuDineroMenu span {
				  	padding-left: 10px;
				  	font-size: 14px;
				}

				#tranquilidadMenu span {
				  	font-size: 14px;
				}

				#tasasMenu span {
				  	padding-left: 15px;
				  	font-size: 14px;
				}
			}			
			@media screen and (min-width: 1400px){
				/* reglas CSS */
			  	#menuQuieresInvertir{
					padding-left: 270px;
				}

				#comoFuncionaMenu img{
					padding-left: 20px;
				}

				#comoFuncionaMenu span{
					font-size: 14px;
				}

				#testimoniosMenu img {
				  	padding-left: 5px;
				}

				#testimoniosMenu span {
				  	font-size: 14px;
				  	padding-left: 5px;
				}

				#rendimientoMenu img{
				  	padding-left: 4px;
				}

				#rendimientoMenu span{
				  	font-size: 14px;
				}

				#comisionesMenu span {
				  	font-size: 14px;
				  	padding-left: 1px;
				}

				#tuDineroMenu img {
				  	padding-left: 2px;
				}

				#tuDineroMenu span {
				  	padding-left: 10px;
				  	font-size: 14px;
				}

				#tranquilidadMenu span {
				  	font-size: 14px;
				}

				#tasasMenu span {
				  	padding-left: 15px;
				  	font-size: 14px;
				}
			}