@media screen and (max-width:400px) and (min-width:300px) {
			  /* reglas CSS */
			  #logo{
			  	width: 130px;
			  }
			  #cabecera{
			  	height: 70px;
			  }
			  #botonMenu{
			  	font-size: 20px;
			  	padding-right: 40px;
			  	padding-top: 7px;
			  }
			  #sliderIndex{
			  	width: 100%;
			  	height: 500px;
			  }
			  #sliderIndex img{
			  	width: 100%;
			  	height: 500px;
			  }

			  #contenedores{
			  	padding-left: 40px;
			  }

			  #imagenCalculadora{
			  	padding-left: 90px;
			  }

			  #pruebaNose{
			  	width: 100%;
			  	padding-top: 30px;
			  }
			  #pruebaNose2{
			  	width: 100%;
			  	padding-top: 30px;
			  }
			}
			@media screen and (max-width:450px) and (min-width:400px) {
			  /* reglas CSS */
			  #logo{
			  	width: 130px;
			  }
			  #cabecera{
			  	height: 70px;
			  }
			  #botonMenu{
			  	font-size: 20px;
			  	padding-right: 40px;
			  	padding-top: 7px;
			  }
			  #sliderIndex{
			  	width: 100%;
			  	height: 500px;
			  }
			  #sliderIndex img{
			  	width: 100%;
			  	height: 500px;
			  }

			  #contenedores{
			  	padding-left: 40px;
			  }

			  #imagenCalculadora{
			  	padding-left: 90px;
			  }

			  #pruebaNose{
			  	width: 100%;
			  	padding-top: 30px;
			  }
			  #pruebaNose2{
			  	width: 100%;
			  	padding-top: 30px;
			  }
			}

			@media screen and (max-width:500px) and (min-width:450px) {
			  /* reglas CSS */
			  #logo{
			  	width: 130px;
			  }
			  #cabecera{
			  	height: 70px;
			  }
			  #botonMenu{
			  	font-size: 20px;
			  	padding-right: 40px;
			  	padding-top: 7px;
			  }
			  #sliderIndex{
			  	width: 100%;
			  	height: 500px;
			  }
			  #sliderIndex img{
			  	width: 100%;
			  	height: 500px;
			  }

			  #contenedores{
			  	padding-left: 40px;
			  }

			  #imagenCalculadora{
			  	padding-left: 120px;
			  }
			  #pruebaNose{
			  	width: 100%;
			  	padding-top: 30px;
			  }
			  #pruebaNose2{
			  	width: 100%;
			  	padding-top: 30px;
			  }
			}

			@media screen and (max-width:640px) and (min-width:500px) {
			  /* reglas CSS */
			  #logo{
			  	width: 130px;
			  }
			  #cabecera{
			  	height: 70px;
			  }
			  #botonMenu{
			  	font-size: 20px;
			  	padding-right: 40px;
			  	padding-top: 7px;
			  }
			  #sliderIndex{
			  	width: 100%;
			  	height: 500px;
			  }
			  #sliderIndex img{
			  	width: 100%;
			  	height: 500px;
			  }

			  #contenedores{
			  	padding-left: 40px;
			  }

			  #imagenCalculadora{
			  	padding-left: 120px;
			  }
			  #pruebaNose{
			  	width: 100%;
			  	padding-top: 30px;
			  }
			  #pruebaNose2{
			  	width: 100%;
			  	padding-top: 30px;
			  }
			}
			@media screen and (max-width:767px) and (min-width:640px) {
			  /* reglas CSS */
				 #logo{
				  	width: 130px;
				  }
				  #cabecera{
				  	height: 70px;
				  }
				  #botonMenu{
				  	font-size: 20px;
				  	padding-right: 40px;
				  	padding-top: 7px;
				  }
				  #sliderIndex{
				  	width: 100%;
				  	height: 500px;
				  }
				  #sliderIndex img{
				  	width: 100%;
				  	height: 500px;
				  }
				  #contenedores{
				  	padding-left: 40px;
				  }
				  #imagenCalculadora{
				  	padding-left: 150px;
				  }
				  #pruebaNose{
				  	width: 100%;
				  	padding-top: 30px;
				  }
				  #pruebaNose2{
				  	width: 100%;
				  	padding-top: 30px;
				  }
			}
			@media screen and (max-width:800px) and (min-width:768px) {
			  /* reglas CSS */
			  #logo{
			  	width: 150px;
			  }
			  #cabecera{
			  	height: 70px;
			  }

			  #noseWe2{
			  	visibility: none;
			  	display: none;
			  }
			  #botonMenu{
			  	font-size: 20px;
			  	padding-right: 40px;
			  	padding-top: 7px;
			  }

			  #sliderIndex{
			  	width: 100%;
			  	height: 470px;
			  }
			  #sliderIndex img{
			  	width: 100%;
			  	height: 470px;
			  }
			  #contenedores{
				  	padding-left: 40px;
				  }
			  #imagenCalculadora{
			  	padding-left: 150px;
			  }
			  #pruebaNose{
			  	width: 100%;
			  	padding-top: 30px;
			  }
			  #pruebaNose2{
			  	width: 100%;
			  	padding-top: 30px;
			  }
			}
			@media screen and (max-width:990px) and (min-width:800px) {
			  /* reglas CSS */
			  #logo{
			  	width: 150px;
			  	text-align: left;
			  }
			  #cabecera{
			  	height: 70px;
			  }

			  #noseWe2{
			  	visibility: none;
			  	display: none;
			  }
			  #botonMenu{
			  	font-size: 20px;
			  	padding-right: 40px;
			  	padding-top: 7px;
			  }
			  #sliderIndex{
			  	width: 100%;
			  	height: 470px;
			  }
			  #sliderIndex img{
			  	width: 100%;
			  	height: 470px;
			  }
			  #contenedores{
				  	padding-left: 40px;
				  }
			  #imagenCalculadora{
			  	padding-left: 150px;
			  }
			  #pruebaNose{
			  	width: 100%;
			  	padding-top: 30px;
			  }
			  #pruebaNose2{
			  	width: 100%;
			  	padding-top: 30px;
			  }	
			}
			@media screen and (min-width:991px) {
			  /* reglas CSS */
			  #logo{
			  	width: 120px;
			  	padding-right: 10px;
			  	padding-bottom: 30px;
			  }
			  #botonMenu{
			  	visibility: none;
			  	display: none;
			  }

			  #noseWe{
			  	padding-top: 10px;
			  	padding-left: 100px;
			  }
			  #contenedores{
			  	padding-left: 200px;
			  }

			  #contenidoCalculadora{
			  	padding-top: 80px;	
			  }
			  #pruebaNose{
			  	width: 100%;
			  	padding-top: 30px;
			  }	

			  #pruebaNose2{
			  	width: 100%;
			  	padding-top: 22px;
			  }	

			  #valor1{
			  	margin-left: 13%;
			  }
			}