@media screen and (max-width:350px) and (min-width:300px) {
			  /* reglas CSS */
			  #logo{
			  	width: 130px;
			  }
			  #cabecera{
			  	height: 70px;
			  }
			  #botonMenu{
			  	font-size: 20px;
			  	padding-right: 40px;
			  	padding-top: 7px;
			  }
			  #sliderIndex{
			  	width: 100%;
			  	height: 500px;
			  }
			  #sliderIndex img{
			  	width: 100%;
			  	height: 500px;
			  }

			  #contenedores{
			  	padding-left: 40px;
			  }

			  #imagenCalculadora{
			  	padding-left: 90px;
			  }

			  #pruebaNose{
			  	width: 100%;
			  	padding-top: 30px;
			  }
			  #pruebaNose2{
			  	width: 100%;
			  	padding-top: 30px;
			  }

			  #comoFuncionaMenu, #testimoniosMenu, #rendimientoMenu, #comisionesMenu, #tranquilidadMenu{
			  	width: 50%;
			  }

			  #comoFuncionaMenu img{
			  	width: 60%;
			  	margin-left: 22.5%;
			  	margin-top: 20px;
			  }

			  #comoFuncionaMenu p{
			  	margin-top: 5px;
			  	font-size: 14px;
			  	margin-left: 8.5%;
			  }

			  #testimoniosMenu img{
			  	width: 60%;
			  	margin-left: 20%;
			  	margin-top: 20px;
			  }

			  #testimoniosMenu p{
			  	margin-top: 5px;
			  	font-size: 14px;
			  	margin-left: 22%;
			  }

			  #rendimientoMenu img{
			  	width: 60%;
			  	margin-left: 20%;
			  	margin-top: 20px;
			  }

			  #rendimientoMenu p{
			  	margin-top: 5px;
			  	font-size: 14px;
			  	margin-left: 17%;
			  }

			  #comisionesMenu img{
			  	width: 60%;
			  	margin-left: 20%;
			  	margin-top: 20px;
			  }

			  #comisionesMenu p{
			  	margin-top: 5px;
			  	font-size: 14px;
			  	margin-left: 25%;
			  }

			  #tranquilidadMenu img{
			  	width: 60%;
			  	margin-left: 20%;
			  	margin-top: 20px;
			  }

			  #tranquilidadMenu p{
			  	margin-top: 5px;
			  	font-size: 14px;
			  	margin-left: 20%;
			  }
}

@media screen and (max-width:400px) and (min-width:350px) {
			  /* reglas CSS */
			  #logo{
			  	width: 130px;
			  }
			  #cabecera{
			  	height: 70px;
			  }
			  #botonMenu{
			  	font-size: 20px;
			  	padding-right: 40px;
			  	padding-top: 7px;
			  }
			  #sliderIndex{
			  	width: 100%;
			  	height: 500px;
			  }
			  #sliderIndex img{
			  	width: 100%;
			  	height: 500px;
			  }

			  #contenedores{
			  	padding-left: 40px;
			  }

			  #imagenCalculadora{
			  	padding-left: 90px;
			  }

			  #pruebaNose{
			  	width: 100%;
			  	padding-top: 30px;
			  }
			  #pruebaNose2{
			  	width: 100%;
			  	padding-top: 30px;
			  }

			  #comoFuncionaMenu, #testimoniosMenu, #rendimientoMenu, #comisionesMenu, #tranquilidadMenu{
			  	width: 50%;
			  }

			  #comoFuncionaMenu img{
			  	width: 60%;
			  	margin-left: 22.5%;
			  	margin-top: 20px;
			  }

			  #comoFuncionaMenu p{
			  	margin-top: 5px;
			  	font-size: 15px;
			  	margin-left: 23%;
			  }

			  #testimoniosMenu img{
			  	width: 60%;
			  	margin-left: 20%;
			  	margin-top: 25px;
			  }

			  #testimoniosMenu p{
			  	margin-top: 5px;
			  	font-size: 15px;
			  	margin-left: 20%;
			  }

			  #rendimientoMenu img{
			  	width: 60%;
			  	margin-left: 22%;
			  	margin-top: 20px;
			  }

			  #rendimientoMenu p{
			  	margin-top: 5px;
			  	font-size: 15px;
			  	margin-left: 28%;
			  }

			  #comisionesMenu img{
			  	width: 60%;
			  	margin-left: 20%;
			  	margin-top: 25px;
			  }

			  #comisionesMenu p{
			  	margin-top: 5px;
			  	font-size: 15px;
			  	margin-left: 20%;
			  }

			  #tranquilidadMenu img{
			  	width: 60%;
			  	margin-left: 40%;
			  	margin-top: 20px;
			  }

			  #tranquilidadMenu p{
			  	margin-top: 5px;
			  	font-size: 15px;
			  	margin-left: 37%;
			  }
}

@media screen and (max-width:450px) and (min-width:400px) {
			  /* reglas CSS */
			  #logo{
			  	width: 130px;
			  }
			  #cabecera{
			  	height: 70px;
			  }
			  #botonMenu{
			  	font-size: 20px;
			  	padding-right: 40px;
			  	padding-top: 7px;
			  }
			  #sliderIndex{
			  	width: 100%;
			  	height: 500px;
			  }
			  #sliderIndex img{
			  	width: 100%;
			  	height: 500px;
			  }

			  #contenedores{
			  	padding-left: 40px;
			  }

			  #imagenCalculadora{
			  	padding-left: 90px;
			  }

			  #pruebaNose{
			  	width: 100%;
			  	padding-top: 30px;
			  }
			  #pruebaNose2{
			  	width: 100%;
			  	padding-top: 30px;
			  }

			  #listaMenu{
			  	width: 100%;
			  }

			  .contenedorMenu{
			  	width: 25%;
			  	float: left;
			  }

			  .contenedorMenu2{
			  	width: 50%;
			  }

			  #comoFuncionaMenu img{
			  	width: 60%;
			  	margin-top: 20px;
			  }

			  #comoFuncionaMenu p{
			  	margin-top: 5px;
			  	font-size: 15px;
			  }

			  #testimoniosMenu img{
			  	width: 60%;
			  	margin-top: 25px;
			  	margin-left: 40%;
			  }

			  #testimoniosMenu{
			  	margin-left: 10%;
			  }

			  #testimoniosMenu p{
			  	margin-top: 5px;
			  	font-size: 15px;
			  	margin-left: 39%;
			  }

			  #rendimientoMenu img{
			  	width: 60%;
			  	margin-top: 20px;
			  	margin-left: 40%;
			  }

			  #rendimientoMenu p{
			  	margin-top: 5px;
			  	font-size: 15px;
			  	margin-left: 48%;
			  }

			  #comisionesMenu{
			  	margin-left: 32%;
			  }

			  #comisionesMenu img{
			  	width: 60%;
			  	margin-top: 25px;
			  	margin-left: 20%;
			  }

			  #comisionesMenu p{
			  	margin-top: 5px;
			  	font-size: 15px;
			  	margin-left: 20%;
			  }

			  #tranquilidadMenu img{
			  	width: 60%;
			  	margin-left: 7%;
			  	margin-top: 25px;
			  }

			  #tranquilidadMenu p{
			  	margin-top: 5px;
			  	font-size: 15px;
			  	margin-left: 7%;
			  }
}

@media screen and (max-width:500px) and (min-width:450px) {
			  /* reglas CSS */
			  #logo{
			  	width: 130px;
			  }
			  #cabecera{
			  	height: 70px;
			  }
			  #botonMenu{
			  	font-size: 20px;
			  	padding-right: 40px;
			  	padding-top: 7px;
			  }
			  #sliderIndex{
			  	width: 100%;
			  	height: 500px;
			  }
			  #sliderIndex img{
			  	width: 100%;
			  	height: 500px;
			  }

			  #contenedores{
			  	padding-left: 40px;
			  }

			  #imagenCalculadora{
			  	padding-left: 120px;
			  }
			  #pruebaNose{
			  	width: 100%;
			  	padding-top: 30px;
			  }
			  #pruebaNose2{
			  	width: 100%;
			  	padding-top: 30px;
			  }

			  .contenedorMenu{
			  	width: 25%;
			  	float: left;
			  }

			  .contenedorMenu2{
			  	width: 50%;
			  }

			  #comoFuncionaMenu img{
			  	width: 60%;
			  	margin-top: 20px;
			  }

			  #comoFuncionaMenu p{
			  	margin-top: 5px;
			  	font-size: 15px;
			  }

			  #testimoniosMenu img{
			  	width: 60%;
			  	margin-top: 25px;
			  	margin-left: 40%;
			  }

			  #testimoniosMenu{
			  	margin-left: 10%;
			  }

			  #testimoniosMenu p{
			  	margin-top: 5px;
			  	font-size: 15px;
			  	margin-left: 39%;
			  }

			  #rendimientoMenu img{
			  	width: 60%;
			  	margin-top: 20px;
			  	margin-left: 40%;
			  }

			  #rendimientoMenu p{
			  	margin-top: 5px;
			  	font-size: 15px;
			  	margin-left: 48%;
			  }

			  #comisionesMenu{
			  	margin-left: 32%;
			  }

			  #comisionesMenu img{
			  	width: 60%;
			  	margin-top: 25px;
			  	margin-left: 20%;
			  }

			  #comisionesMenu p{
			  	margin-top: 5px;
			  	font-size: 15px;
			  	margin-left: 20%;
			  }

			  #tranquilidadMenu img{
			  	width: 60%;
			  	margin-left: 7%;
			  	margin-top: 25px;
			  }

			  #tranquilidadMenu p{
			  	margin-top: 5px;
			  	font-size: 15px;
			  	margin-left: 7%;
			  }
}

@media screen and (max-width:550px) and (min-width:500px) {
			  /* reglas CSS */
			  #logo{
			  	width: 130px;
			  }
			  #cabecera{
			  	height: 70px;
			  }
			  #botonMenu{
			  	font-size: 20px;
			  	padding-right: 40px;
			  	padding-top: 7px;
			  }
			  #sliderIndex{
			  	width: 100%;
			  	height: 500px;
			  }
			  #sliderIndex img{
			  	width: 100%;
			  	height: 500px;
			  }

			  #contenedores{
			  	padding-left: 40px;
			  }

			  #imagenCalculadora{
			  	padding-left: 120px;
			  }
			  #pruebaNose{
			  	width: 100%;
			  	padding-top: 30px;
			  }
			  #pruebaNose2{
			  	width: 100%;
			  	padding-top: 30px;
			  }

			  .contenedorMenu{
			  	width: 25%;
			  	float: left;
			  }

			  .contenedorMenu2{
			  	width: 50%;
			  }

			  #comoFuncionaMenu{
			  	margin-left: 30%;
			  }

			  #comoFuncionaMenu img{
			  	width: 60%;
			  	margin-top: 20px;
			  }

			  #comoFuncionaMenu p{
			  	margin-top: 5px;
			  	font-size: 15px;
			  }

			  #testimoniosMenu img{
			  	width: 60%;
			  	margin-top: 25px;
			  	margin-left: 40%;
			  }

			  #testimoniosMenu{
			  	margin-left: 20%;
			  }

			  #testimoniosMenu p{
			  	margin-top: 5px;
			  	font-size: 15px;
			  	margin-left: 39%;
			  }

			  #rendimientoMenu{
			  	margin-left: 20%;
			  }

			  #rendimientoMenu img{
			  	width: 60%;
			  	margin-top: 20px;
			  	margin-left: 40%;
			  }

			  #rendimientoMenu p{
			  	margin-top: 5px;
			  	font-size: 15px;
			  	margin-left: 48%;
			  }

			  #comisionesMenu{
			  	margin-left: 42%;
			  }

			  #comisionesMenu img{
			  	width: 60%;
			  	margin-top: 25px;
			  	margin-left: 20%;
			  }

			  #comisionesMenu p{
			  	margin-top: 5px;
			  	font-size: 15px;
			  	margin-left: 20%;
			  }

			  #tranquilidadMenu img{
			  	width: 60%;
			  	margin-left: 17%;
			  	margin-top: 25px;
			  }

			  #tranquilidadMenu p{
			  	margin-top: 5px;
			  	font-size: 15px;
			  	margin-left: 17%;
			  }
}

@media screen and (max-width:600px) and (min-width:551px) {
			  /* reglas CSS */
			  #logo{
			  	width: 130px;
			  }
			  #cabecera{
			  	height: 70px;
			  }
			  #botonMenu{
			  	font-size: 20px;
			  	padding-right: 40px;
			  	padding-top: 7px;
			  }
			  #sliderIndex{
			  	width: 100%;
			  	height: 500px;
			  }
			  #sliderIndex img{
			  	width: 100%;
			  	height: 500px;
			  }

			  #contenedores{
			  	padding-left: 40px;
			  }

			  #imagenCalculadora{
			  	padding-left: 120px;
			  }
			  #pruebaNose{
			  	width: 100%;
			  	padding-top: 30px;
			  }
			  #pruebaNose2{
			  	width: 100%;
			  	padding-top: 30px;
			  }

			  .contenedorMenu{
			  	width: 20%;
			  	float: left;
			  }

			  .contenedorMenu2{
			  	width: 20%;
			  	float: left;
			  }

			  #comoFuncionaMenu img{
			  	width: 60%;
			  	margin-top: 20px;
			  	margin-left: 15%;
			  }

			  #comoFuncionaMenu p{
			  	margin-top: 15px;
			  	font-size: 12px;
			  }

			  #testimoniosMenu img{
			  	width: 60%;
			  	margin-top: 25px;
			  	margin-left: 14%;
			  }

			  #testimoniosMenu p{
			  	margin-top: 6px;
			  	font-size: 15px;
			  }

			  #rendimientoMenu img{
			  	width: 60%;
			  	margin-top: 22px;
			  	margin-left: 10%;
			  }

			  #rendimientoMenu p{
			  	margin-top: 6px;
			  	font-size: 15px;
			  }

			  #comisionesMenu img{
			  	width: 60%;
			  	margin-top: 25px;
			  	margin-left: 10%;
			  }

			  #comisionesMenu p{
			  	margin-top: 6px;
			  	font-size: 15px;
			  }

			  #tranquilidadMenu img{
			  	width: 60%;
			  	margin-top: 25px;
			  	margin-left: 10%;
			  }

			  #tranquilidadMenu p{
			  	margin-top: 4px;
			  	font-size: 15px;
			  }
}

@media screen and (max-width:650px) and (min-width:601px) {
			  /* reglas CSS */
			  #logo{
			  	width: 130px;
			  }
			  #cabecera{
			  	height: 70px;
			  }
			  #botonMenu{
			  	font-size: 20px;
			  	padding-right: 40px;
			  	padding-top: 7px;
			  }
			  #sliderIndex{
			  	width: 100%;
			  	height: 500px;
			  }
			  #sliderIndex img{
			  	width: 100%;
			  	height: 500px;
			  }

			  #contenedores{
			  	padding-left: 40px;
			  }

			  #imagenCalculadora{
			  	padding-left: 120px;
			  }
			  #pruebaNose{
			  	width: 100%;
			  	padding-top: 30px;
			  }
			  #pruebaNose2{
			  	width: 100%;
			  	padding-top: 30px;
			  }

			  .contenedorMenu{
			  	width: 20%;
			  	float: left;
			  }

			  .contenedorMenu2{
			  	width: 20%;
			  	float: left;
			  }

			  #comoFuncionaMenu img{
			  	width: 60%;
			  	margin-top: 20px;
			  	margin-left: 15%;
			  }

			  #comoFuncionaMenu p{
			  	margin-top: 15px;
			  	font-size: 12px;
			  }

			  #testimoniosMenu img{
			  	width: 60%;
			  	margin-top: 25px;
			  	margin-left: 14%;
			  }

			  #testimoniosMenu p{
			  	margin-top: 6px;
			  	font-size: 15px;
			  }

			  #rendimientoMenu img{
			  	width: 60%;
			  	margin-top: 22px;
			  	margin-left: 10%;
			  }

			  #rendimientoMenu p{
			  	margin-top: 6px;
			  	font-size: 15px;
			  }

			  #comisionesMenu img{
			  	width: 60%;
			  	margin-top: 25px;
			  	margin-left: 10%;
			  }

			  #comisionesMenu p{
			  	margin-top: 6px;
			  	font-size: 15px;
			  }

			  #tranquilidadMenu img{
			  	width: 60%;
			  	margin-top: 25px;
			  	margin-left: 10%;
			  }

			  #tranquilidadMenu p{
			  	margin-top: 4px;
			  	font-size: 15px;
			  }
}

@media screen and (max-width:700px) and (min-width:651px) {
			  /* reglas CSS */
			  #logo{
			  	width: 130px;
			  }
			  #cabecera{
			  	height: 70px;
			  }
			  #botonMenu{
			  	font-size: 20px;
			  	padding-right: 40px;
			  	padding-top: 7px;
			  }
			  #sliderIndex{
			  	width: 100%;
			  	height: 500px;
			  }
			  #sliderIndex img{
			  	width: 100%;
			  	height: 500px;
			  }

			  #contenedores{
			  	padding-left: 40px;
			  }

			  #imagenCalculadora{
			  	padding-left: 120px;
			  }
			  #pruebaNose{
			  	width: 100%;
			  	padding-top: 30px;
			  }
			  #pruebaNose2{
			  	width: 100%;
			  	padding-top: 30px;
			  }

			  .contenedorMenu{
			  	width: 20%;
			  	float: left;
			  }

			  .contenedorMenu2{
			  	width: 20%;
			  	float: left;
			  }

			  #comoFuncionaMenu img{
			  	width: 60%;
			  	margin-top: 20px;
			  	margin-left: 15%;
			  }

			  #comoFuncionaMenu p{
			  	margin-top: 15px;
			  	font-size: 12px;
			  }

			  #testimoniosMenu img{
			  	width: 60%;
			  	margin-top: 25px;
			  	margin-left: 14%;
			  }

			  #testimoniosMenu p{
			  	margin-top: 6px;
			  	font-size: 15px;
			  }

			  #rendimientoMenu img{
			  	width: 60%;
			  	margin-top: 22px;
			  	margin-left: 10%;
			  }

			  #rendimientoMenu p{
			  	margin-top: 6px;
			  	font-size: 15px;
			  }

			  #comisionesMenu img{
			  	width: 60%;
			  	margin-top: 25px;
			  	margin-left: 10%;
			  }

			  #comisionesMenu p{
			  	margin-top: 6px;
			  	font-size: 15px;
			  }

			  #tranquilidadMenu img{
			  	width: 60%;
			  	margin-top: 25px;
			  	margin-left: 10%;
			  }

			  #tranquilidadMenu p{
			  	margin-top: 4px;
			  	font-size: 15px;
			  }
}

@media screen and (max-width:750px) and (min-width:701px) {
			  /* reglas CSS */
			  #logo{
			  	width: 130px;
			  }
			  #cabecera{
			  	height: 70px;
			  }
			  #botonMenu{
			  	font-size: 20px;
			  	padding-right: 40px;
			  	padding-top: 7px;
			  }
			  #sliderIndex{
			  	width: 100%;
			  	height: 500px;
			  }
			  #sliderIndex img{
			  	width: 100%;
			  	height: 500px;
			  }

			  #contenedores{
			  	padding-left: 40px;
			  }

			  #imagenCalculadora{
			  	padding-left: 120px;
			  }
			  #pruebaNose{
			  	width: 100%;
			  	padding-top: 30px;
			  }
			  #pruebaNose2{
			  	width: 100%;
			  	padding-top: 30px;
			  }

			  .contenedorMenu{
			  	width: 20%;
			  	float: left;
			  }

			  .contenedorMenu2{
			  	width: 20%;
			  	float: left;
			  }

			  #comoFuncionaMenu img{
			  	width: 60%;
			  	margin-top: 20px;
			  	margin-left: 15%;
			  }

			  #comoFuncionaMenu p{
			  	margin-top: 15px;
			  	font-size: 12px;
			  }

			  #testimoniosMenu img{
			  	width: 60%;
			  	margin-top: 25px;
			  	margin-left: 14%;
			  }

			  #testimoniosMenu p{
			  	margin-top: 6px;
			  	font-size: 15px;
			  }

			  #rendimientoMenu img{
			  	width: 60%;
			  	margin-top: 22px;
			  	margin-left: 10%;
			  }

			  #rendimientoMenu p{
			  	margin-top: 6px;
			  	font-size: 15px;
			  }

			  #comisionesMenu img{
			  	width: 60%;
			  	margin-top: 25px;
			  	margin-left: 10%;
			  }

			  #comisionesMenu p{
			  	margin-top: 6px;
			  	font-size: 15px;
			  }

			  #tranquilidadMenu img{
			  	width: 60%;
			  	margin-top: 25px;
			  	margin-left: 10%;
			  }

			  #tranquilidadMenu p{
			  	margin-top: 4px;
			  	font-size: 15px;
			  }
}

@media screen and (max-width:800px) and (min-width:751px) {
			  /* reglas CSS */
				 #logo{
				  	width: 130px;
				  }
				  #cabecera{
				  	height: 70px;
				  }
				  #botonMenu{
				  	font-size: 20px;
				  	padding-right: 40px;
				  	padding-top: 7px;
				  }
				  #sliderIndex{
				  	width: 100%;
				  	height: 500px;
				  }
				  #sliderIndex img{
				  	width: 100%;
				  	height: 500px;
				  }
				  #contenedores{
				  	padding-left: 40px;
				  }
				  #imagenCalculadora{
				  	padding-left: 150px;
				  }
				  #pruebaNose{
				  	width: 100%;
				  	padding-top: 30px;
				  }
				  #pruebaNose2{
				  	width: 100%;
				  	padding-top: 30px;
				  }

				  .contenedorMenu{
				  	width: 20%;
				  	float: left;
				  }

				  .contenedorMenu2{
				  	width: 20%;
				  	float: left;
				  }

				  #comoFuncionaMenu img{
				  	width: 60%;
				  	margin-top: 20px;
				  	margin-left: 15%;
				  }

				  #comoFuncionaMenu p{
				  	margin-top: 11px;
				  	font-size: 15px;
				  }

				  #testimoniosMenu img{
				  	width: 60%;
				  	margin-top: 25px;
				  	margin-left: 14%;
				  }

				  #testimoniosMenu p{
				  	margin-top: 6px;
				  	font-size: 15px;
				  }

				  #rendimientoMenu img{
				  	width: 60%;
				  	margin-top: 25px;
				  	margin-left: 10%;
				  }

				  #rendimientoMenu p{
				  	margin-top: 6px;
				  	font-size: 15px;
				  }

				  #comisionesMenu img{
				  	width: 60%;
				  	margin-top: 25px;
				  	margin-left: 10%;
				  }

				  #comisionesMenu p{
				  	margin-top: 6px;
				  	font-size: 15px;
				  }

				  #tranquilidadMenu img{
				  	width: 60%;
				  	margin-top: 25px;
				  	margin-left: 10%;
				  }

				  #tranquilidadMenu p{
				  	margin-top: 4px;
				  	font-size: 15px;
				  }
}

@media screen and (max-width:850px) and (min-width:801px) {
			  /* reglas CSS */
			  #logo{
			  	width: 150px;
			  }
			  #cabecera{
			  	height: 70px;
			  }

			  #noseWe2{
			  	visibility: none;
			  	display: none;
			  }
			  #botonMenu{
			  	font-size: 20px;
			  	padding-right: 40px;
			  	padding-top: 7px;
			  }

			  #sliderIndex{
			  	width: 100%;
			  	height: 470px;
			  }
			  #sliderIndex img{
			  	width: 100%;
			  	height: 470px;
			  }
			  #contenedores{
				  	padding-left: 40px;
				  }
			  #imagenCalculadora{
			  	padding-left: 150px;
			  }
			  #pruebaNose{
			  	width: 100%;
			  	padding-top: 30px;
			  }
			  #pruebaNose2{
			  	width: 100%;
			  	padding-top: 30px;
			  }

			  .contenedorMenu{
			  	width: 20%;
			  	float: left;
			  }

			  .contenedorMenu2{
			  	width: 20%;
			  	float: left;
			  }

			  #comoFuncionaMenu img{
			  	width: 45%;
			  	margin-top: 20px;
			  	margin-left: 25%;
			  }

			  #comoFuncionaMenu p{
			  	margin-top: 11px;
			  	font-size: 15px;
			  }

			  #testimoniosMenu img{
			  	width: 45%;
			  	margin-top: 25px;
			  	margin-left: 16%;
			  }

			  #testimoniosMenu p{
			  	margin-top: 6px;
			  	font-size: 15px;
			  }

			  #rendimientoMenu img{
			  	width: 45%;
			  	margin-top: 25px;
			  	margin-left: 19%;
			  }

			  #rendimientoMenu p{
			  	margin-top: 6px;
			  	font-size: 15px;
			  }

			  #comisionesMenu img{
			  	width: 45%;
			  	margin-top: 25px;
			  	margin-left: 10%;
			  }

			  #comisionesMenu p{
			  	margin-top: 6px;
			  	font-size: 15px;
			  }

			  #tranquilidadMenu img{
			  	width: 45%;
			  	margin-top: 25px;
			  	margin-left: 15%;
			  }

			  #tranquilidadMenu p{
			  	margin-top: 4px;
			  	font-size: 15px;
			  }
}

@media screen and (max-width:900px) and (min-width:851px) {
			  /* reglas CSS */
			  #logo{
			  	width: 150px;
			  	text-align: left;
			  }
			  #cabecera{
			  	height: 70px;
			  }

			  #noseWe2{
			  	visibility: none;
			  	display: none;
			  }
			  #botonMenu{
			  	font-size: 20px;
			  	padding-right: 40px;
			  	padding-top: 7px;
			  }
			  #sliderIndex{
			  	width: 100%;
			  	height: 470px;
			  }
			  #sliderIndex img{
			  	width: 100%;
			  	height: 470px;
			  }
			  #contenedores{
				  	padding-left: 40px;
				  }
			  #imagenCalculadora{
			  	padding-left: 150px;
			  }
			  #pruebaNose{
			  	width: 100%;
			  	padding-top: 30px;
			  }
			  #pruebaNose2{
			  	width: 100%;
			  	padding-top: 30px;
			  }	

			  .contenedorMenu{
			  	width: 20%;
			  	float: left;
			  }

			  .contenedorMenu2{
			  	width: 20%;
			  	float: left;
			  }

			  #comoFuncionaMenu img{
			  	width: 45%;
			  	margin-top: 20px;
			  	margin-left: 25%;
			  }

			  #comoFuncionaMenu p{
			  	margin-top: 5px;
			  	font-size: 15px;
			  }

			  #testimoniosMenu img{
			  	width: 40%;
			  	margin-top: 25px;
			  	margin-left: 16%;
			  }

			  #testimoniosMenu p{
			  	margin-top: 6px;
			  	font-size: 15px;
			  }

			  #rendimientoMenu img{
			  	width: 40%;
			  	margin-top: 25px;
			  	margin-left: 19%;
			  }

			  #rendimientoMenu p{
			  	margin-top: 6px;
			  	font-size: 15px;
			  }

			  #comisionesMenu img{
			  	width: 40%;
			  	margin-top: 25px;
			  	margin-left: 10%;
			  }

			  #comisionesMenu p{
			  	margin-top: 6px;
			  	font-size: 15px;
			  }

			  #tranquilidadMenu img{
			  	width: 40%;
			  	margin-top: 25px;
			  	margin-left: 15%;
			  }

			  #tranquilidadMenu p{
			  	margin-top: 5px;
			  	font-size: 15px;
			  }
}

@media screen and (max-width:950px) and (min-width:901px) {
			  /* reglas CSS */
			  #logo{
			  	width: 150px;
			  	text-align: left;
			  }
			  #cabecera{
			  	height: 70px;
			  }

			  #noseWe2{
			  	visibility: none;
			  	display: none;
			  }
			  #botonMenu{
			  	font-size: 20px;
			  	padding-right: 40px;
			  	padding-top: 7px;
			  }
			  #sliderIndex{
			  	width: 100%;
			  	height: 470px;
			  }
			  #sliderIndex img{
			  	width: 100%;
			  	height: 470px;
			  }
			  #contenedores{
				  	padding-left: 40px;
				  }
			  #imagenCalculadora{
			  	padding-left: 150px;
			  }
			  #pruebaNose{
			  	width: 100%;
			  	padding-top: 30px;
			  }
			  #pruebaNose2{
			  	width: 100%;
			  	padding-top: 30px;
			  }	

			  /* reglas CSS */
			  #logo{
			  	width: 150px;
			  	text-align: left;
			  }
			  #cabecera{
			  	height: 70px;
			  }

			  #noseWe2{
			  	visibility: none;
			  	display: none;
			  }
			  #botonMenu{
			  	font-size: 20px;
			  	padding-right: 40px;
			  	padding-top: 7px;
			  }
			  #sliderIndex{
			  	width: 100%;
			  	height: 470px;
			  }
			  #sliderIndex img{
			  	width: 100%;
			  	height: 470px;
			  }
			  #contenedores{
				  	padding-left: 40px;
				  }
			  #imagenCalculadora{
			  	padding-left: 150px;
			  }
			  #pruebaNose{
			  	width: 100%;
			  	padding-top: 30px;
			  }
			  #pruebaNose2{
			  	width: 100%;
			  	padding-top: 30px;
			  }	

			  .contenedorMenu{
			  	width: 20%;
			  	float: left;
			  }

			  .contenedorMenu2{
			  	width: 20%;
			  	float: left;
			  }

			  #comoFuncionaMenu img{
			  	width: 45%;
			  	margin-top: 20px;
			  	margin-left: 25%;
			  }

			  #comoFuncionaMenu p{
			  	margin-top: 5px;
			  	font-size: 15px;
			  }

			  #testimoniosMenu img{
			  	width: 40%;
			  	margin-top: 25px;
			  	margin-left: 16%;
			  }

			  #testimoniosMenu p{
			  	margin-top: 6px;
			  	font-size: 15px;
			  }

			  #rendimientoMenu img{
			  	width: 40%;
			  	margin-top: 25px;
			  	margin-left: 19%;
			  }

			  #rendimientoMenu p{
			  	margin-top: 6px;
			  	font-size: 15px;
			  }

			  #comisionesMenu img{
			  	width: 40%;
			  	margin-top: 25px;
			  	margin-left: 10%;
			  }

			  #comisionesMenu p{
			  	margin-top: 6px;
			  	font-size: 15px;
			  }

			  #tranquilidadMenu img{
			  	width: 40%;
			  	margin-top: 25px;
			  	margin-left: 15%;
			  }

			  #tranquilidadMenu p{
			  	margin-top: 5px;
			  	font-size: 15px;
			  }
}

@media screen and (max-width:991px) and (min-width:951px) {
			  /* reglas CSS */
			  #logo{
			  	width: 150px;
			  	text-align: left;
			  }
			  #cabecera{
			  	height: 70px;
			  }

			  #noseWe2{
			  	visibility: none;
			  	display: none;
			  }
			  #botonMenu{
			  	font-size: 20px;
			  	padding-right: 40px;
			  	padding-top: 7px;
			  }
			  #sliderIndex{
			  	width: 100%;
			  	height: 470px;
			  }
			  #sliderIndex img{
			  	width: 100%;
			  	height: 470px;
			  }
			  #contenedores{
				  	padding-left: 40px;
				  }
			  #imagenCalculadora{
			  	padding-left: 150px;
			  }
			  #pruebaNose{
			  	width: 100%;
			  	padding-top: 30px;
			  }
			  #pruebaNose2{
			  	width: 100%;
			  	padding-top: 30px;
			  }	

			  /* reglas CSS */
			  #logo{
			  	width: 150px;
			  	text-align: left;
			  }
			  #cabecera{
			  	height: 70px;
			  }

			  #noseWe2{
			  	visibility: none;
			  	display: none;
			  }
			  #botonMenu{
			  	font-size: 20px;
			  	padding-right: 40px;
			  	padding-top: 7px;
			  }
			  #sliderIndex{
			  	width: 100%;
			  	height: 470px;
			  }
			  #sliderIndex img{
			  	width: 100%;
			  	height: 470px;
			  }
			  #contenedores{
				  	padding-left: 40px;
				  }
			  #imagenCalculadora{
			  	padding-left: 150px;
			  }
			  #pruebaNose{
			  	width: 100%;
			  	padding-top: 30px;
			  }
			  #pruebaNose2{
			  	width: 100%;
			  	padding-top: 30px;
			  }	

			  .contenedorMenu{
			  	width: 20%;
			  	float: left;
			  }

			  .contenedorMenu2{
			  	width: 20%;
			  	float: left;
			  }

			  #comoFuncionaMenu img{
			  	width: 45%;
			  	margin-top: 20px;
			  	margin-left: 25%;
			  }

			  #comoFuncionaMenu p{
			  	margin-top: 5px;
			  	font-size: 15px;
			  }

			  #testimoniosMenu img{
			  	width: 40%;
			  	margin-top: 25px;
			  	margin-left: 16%;
			  }

			  #testimoniosMenu p{
			  	margin-top: 6px;
			  	font-size: 15px;
			  }

			  #rendimientoMenu img{
			  	width: 40%;
			  	margin-top: 25px;
			  	margin-left: 19%;
			  }

			  #rendimientoMenu p{
			  	margin-top: 6px;
			  	font-size: 15px;
			  }

			  #comisionesMenu img{
			  	width: 40%;
			  	margin-top: 25px;
			  	margin-left: 10%;
			  }

			  #comisionesMenu p{
			  	margin-top: 6px;
			  	font-size: 15px;
			  }

			  #tranquilidadMenu img{
			  	width: 40%;
			  	margin-top: 25px;
			  	margin-left: 15%;
			  }

			  #tranquilidadMenu p{
			  	margin-top: 5px;
			  	font-size: 15px;
			  }
}

@media screen and (max-width:999px) and (min-width:992px) {
			  /* reglas CSS */
			  #logo{
			  	width: 150px;
			  	text-align: left;
			  }
			  #cabecera{
			  	height: 70px;
			  }

			  #noseWe2{
			  	visibility: none;
			  	display: none;
			  }
			  #botonMenu{
			  	font-size: 20px;
			  	padding-right: 40px;
			  	padding-top: 7px;
			  }
			  #sliderIndex{
			  	width: 100%;
			  	height: 470px;
			  }
			  #sliderIndex img{
			  	width: 100%;
			  	height: 470px;
			  }
			  #contenedores{
				  	padding-left: 40px;
				  }
			  #imagenCalculadora{
			  	padding-left: 150px;
			  }
			  #pruebaNose{
			  	width: 100%;
			  	padding-top: 30px;
			  }
			  #pruebaNose2{
			  	width: 100%;
			  	padding-top: 30px;
			  }	

			  /* reglas CSS */
			  #logo{
			  	width: 150px;
			  	text-align: left;
			  }
			  #cabecera{
			  	height: 70px;
			  }

			  #noseWe2{
			  	visibility: none;
			  	display: none;
			  }
			  #botonMenu{
			  	font-size: 20px;
			  	padding-right: 40px;
			  	padding-top: 7px;
			  }
			  #sliderIndex{
			  	width: 100%;
			  	height: 470px;
			  }
			  #sliderIndex img{
			  	width: 100%;
			  	height: 470px;
			  }
			  #contenedores{
				  	padding-left: 40px;
				  }
			  #imagenCalculadora{
			  	padding-left: 150px;
			  }
			  #pruebaNose{
			  	width: 100%;
			  	padding-top: 30px;
			  }
			  #pruebaNose2{
			  	width: 100%;
			  	padding-top: 30px;
			  }	

			  .contenedorMenu{
			  	width: 20%;
			  	float: left;
			  }

			  .contenedorMenu2{
			  	width: 20%;
			  	float: left;
			  }

			  #comoFuncionaMenu img{
			  	width: 30%;
			  	margin-top: 25px;
			  	margin-left: 25%;
			  }

			  #comoFuncionaMenu p{
			  	margin-top: 5px;
			  	font-size: 17px;
			  	margin-left: 14%;
			  }

			  #testimoniosMenu{
			  	margin-left: 12%;
			  }

			  #testimoniosMenu img{
			  	width: 35%;
			  	margin-top: 20px;
			  	margin-left: 16%;
			  }

			  #testimoniosMenu p{
			  	margin-top: 10px;
			  	font-size: 17px;
			  }

			  #rendimientoMenu img{
			  	width: 30%;
			  	margin-top: 20px;
			  	margin-left: 19%;
			  }

			  #rendimientoMenu p{
			  	margin-top: 10px;
			  	font-size: 17px;
			  }

			  #comisionesMenu img{
			  	width: 30%;
			  	margin-top: 20px;
			  	margin-left: 10%;
			  }

			  #comisionesMenu p{
			  	margin-top: 10px;
			  	font-size: 17px;
			  }

			  #tranquilidadMenu img{
			  	width: 30%;
			  	margin-top: 20px;
			  	margin-left: 15%;
			  }

			  #tranquilidadMenu p{
			  	margin-top: 10px;
			  	font-size: 17px;
			  }
}

@media screen and (min-width:1000px) {
			  /* reglas CSS */
			  #logo{
			  	width: 120px;
			  	padding-right: 10px;
			  	padding-bottom: 30px;
			  }
			  #botonMenu{
			  	visibility: none;
			  	display: none;
			  }

			  #noseWe{
			  	padding-top: 10px;
			  	padding-left: 100px;
			  }
			  #contenedores{
			  	padding-left: 200px;
			  }

			  #contenidoCalculadora{
			  	padding-top: 80px;	
			  }
			  #pruebaNose{
			  	width: 100%;
			  	padding-top: 30px;
			  }	

			  #pruebaNose2{
			  	width: 100%;
			  	padding-top: 22px;
			  }	

			  .contenedorMenu{
			  	width: 20%;
			  	float: left;
			  }

			  .contenedorMenu2{
			  	width: 20%;
			  	float: left;
			  }

			  #comoFuncionaMenu img{
			  	width: 20%;
			  	margin-top: 25px;
			  	margin-left: 35%;
			  }

			  #comoFuncionaMenu p{
			  	margin-top: 5px;
			  	font-size: 17px;
			  	margin-left: 14%;
			  }

			  #testimoniosMenu{
			  	margin-left: 12%;
			  }

			  #testimoniosMenu img{
			  	width: 20%;
			  	margin-top: 25px;
			  	margin-left: 22%;
			  }

			  #testimoniosMenu p{
			  	margin-top: 11px;
			  	font-size: 17px;
			  	margin-left: 5%;
			  }

			  #rendimientoMenu img{
			  	width: 20%;
			  	margin-top: 20px;
			  	margin-left: 22%;
			  }

			  #rendimientoMenu p{
			  	margin-top: 10px;
			  	font-size: 17px;
			  	margin-left: 7%;
			  }

			  #comisionesMenu img{
			  	width: 20%;
			  	margin-top: 20px;
			  	margin-left: 14%;
			  }

			  #comisionesMenu p{
			  	margin-top: 10px;
			  	font-size: 17px;
			  	margin-left: 1%;
			  }

			  #tranquilidadMenu img{
			  	width: 20%;
			  	margin-top: 20px;
			  	margin-left: 18%;
			  }

			  #tranquilidadMenu p{
			  	margin-top: 10px;
			  	font-size: 17px;
			  	margin-left: 3.5%;
			  }
}